.hummingbird-treeview,
.hummingbird-treeview * {
    list-style: none;
    font-size: 14px;
    line-height: 24px;
}

    .hummingbird-treeview label {
        font-weight: normal;
    }
.hummingbird-base {
    padding: 0px;
}

    .hummingbird-treeview input[type=checkbox] {
        width: 16px;
        height: 16px;
        padding: 0px;
        margin: 0px;
    }

    .hummingbird-treeview ul:not(.hummingbird-base) {
        display: none;
    }

    .hummingbird-treeview .fa {
        font-style: normal;
        cursor: pointer;
    }

    .hummingbird-treeview .fas {
        font-style: normal;
        cursor: pointer;
    }

.hummingbird-base {
    white-space: nowrap;
}

/*
    
    
    .hummingbird-treeview,
.hummingbird-treeview *
{
    list-style: none;
    font-size: 12px;
    line-height: 14px;
}

    .hummingbird-base
    {
        padding:0px;
    }
    .hummingbird-treeview label {
        font-weight: normal;
    }


    .hummingbird-treeview input[type=checkbox] {
        width: 12px;
        height: 12px;
        padding: 0px;
        margin: 0px;
    }

.hummingbird-treeview ul:not(.hummingbird-base) {
    display: none;
}

.hummingbird-treeview .fa {
    font-style: normal;
    cursor: pointer;
}

.hummingbird-treeview .fas {
    font-style: normal;
    cursor: pointer;
}

.hummingbird-base {
    white-space:nowrap;
}

*/