﻿.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 1;
}

.services-icon {
    margin-bottom: 20px;
    font-size: 30px;
}

#herosection, #features {
/*    background-image: url('content/landing_pcb.png');
    background-size: cover;*/
}

