﻿@page "/ContactSuccess"

@{
    ViewData["Title"] = "Contact success";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="container containerContent mb-5 mt-5">
<p>
Email was sent successfully. We will reply to you as soon as possible. 
</p>
<p>You can get back to <a asp-page="/">main page</a></p></section>
@{
}
