﻿@page
@model RevidXServer.Server.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}


<section class="container containerContent mb-5 mt-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="contact-form">
                <h2 class="display-4 text-center mt-5 mb-3">Contact Us</h2>
                <p class="hint-text">We'd love to hear from you, please drop us a line if you've any query.</p>
                <form method="post">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Input.FirstName">First Name</label>
                                <input asp-for="Input.FirstName" type="text" class="form-control" id="inputFirstName" required>
                                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Input.LastName">Last Name</label>
                                <input asp-for="Input.LastName" type="text" class="form-control" id="inputLastName" required>
                                <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Input.Email">Email Address</label>
                                <input asp-for="Input.Email" type="email" class="form-control" id="inputEmail" required>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Input.Company">Company</label>
                                <input asp-for="Input.Company" type="text" class="form-control" id="inputLastName">
                                <span asp-validation-for="Input.Company" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Subject">Subject</label>
                        <input asp-for="Input.Subject" type="text" class="form-control" id="inputSubject" required>
                        <span asp-validation-for="Input.Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Message">Message</label>
                        <textarea asp-for="Input.Message" class="form-control" id="inputMessage" rows="5" required></textarea>
                        <span asp-validation-for="Input.Message" class="text-danger"></span>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>
    </div>

</section>

@{
}
