﻿@page "/HowToUse"
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="pt-5 pb-5 pb-0">
    <div class="container containerContent position-relative zindex-1 pt-3 pb-3">
        @* <img style="width: 200px; display: block; margin-left: auto; margin-right: auto;" src="/content/logo2.png" />
            <br />
            Welcome! This is a web based client application for RevidX system.

            <h3 class="display-2">What is RevidX?</h3>

            RevidX is a solution for <b>Rev</b>ision and e<b>X</b>change of <b>IDX</b> files, meant to be used for IDX ECAD-MCAD collaboration. It is designed to act as a central system for easier management, tracking and understanding of ECAD-MCAD collaboration progress of a project.


            <h3 class="display-2">Features and goals?</h3>

            <ol>
            <li>Replaces file based exchange with controlled and controllable data exchange between engineers</li>
            <li>Makes project progress more understandable for engineers</li>
            <li>Enables easier communication between engineers</li>
            <li>Implement scollaboration rules to prevent collaboration pitfalls</li>
            <li>Offers multiuser collaboration</li>
            <li>Offers advanced tools for collaboration (3D representation, collision check, custom file checks)</li>
            <li>Enables way for collaboration between distant companies or teams</li>
            </ol>

            <h3 class="display-2">Principle</h3>


            RevidX system consists of:

            <ul class="list-unstyled">
            <li><strong>RevidX server</strong> - 'Always available' server side application that holds collaboration data for Desktop and Web application and manages requests.</li>

            <li><strong>RevidX Web application</strong> - Web based application available from any browser, focuses on representation and management of collaboration data.</li>

            <li><strong>RevidX Desktop application</strong> - Desktop based application available for download, acts as a silent exchange folder monitor that will keep user notified of any changes locally or on remote server.</li>
            </ul>



            <h3 class="display-2">How to start?</h3>
            <ol>
            <li>Deploy locally or subscribe for a cloud version</li>
            <li>Register account</li>
            <li>Install <a href="/Installations">RevidX Desktop</a> application</li>
            <li>Setup RevidX Desktop application</li>
            <li>Introduce teammates with <a href="#collaborationprocedure">collaboration procedure</a></li>

            </ol>

            <h3 id="collaborationprocedure" class="display-2">Collaboration procedure</h3>
            <ol>
            <li>Create project</li>
            <li>Add users by email</li>
            <li>Setup and start desktop application</li>
            <li>Select previously created project</li>
            <li>Set local directory for collaboration purposes</li>
            <li>
            <ol>
            <li>
            Export collaboration file from CAD to selected folder, to be notified
            </li>
            <li>
            Or, wait to be notified for incoming collaboration file from other user
            </li>
            </ol>
            </li>

            <li>
            <ol>
            <li>
            Push exported file to RevidX Server
            </li>
            <li>
            Or, pull incoming file to be imported to your CAD
            </li>
            </ol>
            </li>
            </ol>*@
        <div class="page-wrapper toggled light-theme">
            @*        <nav id="sidebar" class="sidebar-wrapper">
                <div class="sidebar-content">
                <!-- sidebar-brand  -->
                <div class="sidebar-item sidebar-brand text-white font-weight-bold">Documentation</div>
                <!-- sidebar-header  -->
                <!-- sidebar-search  -->
                <div class="sidebar-item sidebar-search">
                <div>
                <div class="input-group">
                <input type="text" class="form-control search-menu" placeholder="Search...">
                <div class="input-group-append"> <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
                </span> </div>
                </div>
                </div>
                </div>
                <!-- sidebar-menu  -->
                <div class=" sidebar-item sidebar-menu">
                <ul>
                <li class="header-menu"> <span>Extra</span> </li>
                <li class="sidebar-dropdown">
                <a href="#"> <i class="fa fa-shopping-cart"></i> <span class="menu-text">Getting Started</span> <span class="badge badge-pill badge-primary">4</span> </a>
                <div class="sidebar-submenu">
                <ul>
                <li> <a href="#">Setup home page layout

                </a> </li>
                <li> <a href="#">How do i add knowledgebase post</a> </li>
                <li> <a href="#">How do i change header navigation style globally</a> </li>
                </ul>
                </div>
                </li>
                <li>
                <a href="#"> <i class="fa fa-book"></i> <span class="menu-text">Basic Usage</span> </a>
                </li>
                <li>
                <a href="#"> <i class="fa fa-calendar"></i> <span class="menu-text">Customizing</span> </a>
                </li>
                <li>
                <a href="#"> <i class="fa fa-folder"></i> <span class="menu-text">Troubleshooting</span> </a>
                </li>
                </ul>
                </div>
                <!-- sidebar-menu  -->
                </div>
                <!-- sidebar-footer  -->
                <div class="sidebar-footer">
                <div class="dropdown">
                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell"></i> <span class="badge badge-pill badge-primary notification">1</span> </a>
                <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">
                <div class="notifications-header"> <i class="fa fa-bell"></i> Notifications </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                <div class="notification-content">
                <div class="icon"> <i class="fas fa-check text-success border border-success"></i> </div>
                <div class="content">
                <div class="notification-detail">Download latest update </div>
                <div class="notification-time"> 20 minutes ago </div>
                </div>
                </div>
                </a>
                <div class="dropdown-divider"></div> <a class="dropdown-item text-center" href="#">All notifications</a> </div>
                </div>
                <div>
                <a id="pin-sidebar" href="#"> <i class="fa fa-power-off"></i> </a>
                </div>
                <div class="pinned-footer">
                <a href="#"> <i class="fas fa-ellipsis-h"></i> </a>
                </div>
                </div>
                </nav>*@
            <!-- page-content  -->
            <main class="page-content">
                <div id="overlay" class="overlay"></div>
                <div class="container-fluid">
                    @*                <div class="row d-flex align-items-center p-3 border-bottom">
                        <div class="col-md-1">
                        <a id="toggle-sidebar" class="btn rounded-0 p-3" href="#"> <i class="fas fa-bars"></i> </a>
                        </div>
                        <div class="col-md-8">
                        <nav aria-label="breadcrumb" class="align-items-center">
                        <a href="index.html" class="breadcrumb-back" title="Back"></a>
                        <ol class="breadcrumb d-none d-lg-inline-flex m-0">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Layout 2</li>
                        </ol>
                        </nav>
                        </div>
                        <div class="col-md-3 text-left"> <a href="https://sharebootstrap.com/docu-free-bootstrap-4-documentation-theme/" class="btn btn-sm btn-primary btn-rounded">Free Download</a> </div>
                        </div>*@
                    <div class="row p-lg-4">
                        <article class="main-content col-md-9 pr-lg-5">
                            <!-- title -Add bootstrap helpers for spacing -->
                            <h1 id="introduction" class="mb-2 mt-3">Introduction</h1>
                            <!--//title -->
                            <p class="lead mb-3"> How to get started with RevidX! </p>
                            <p>RevidX is a solution for <b>Rev</b>ision and e<b>X</b>change of <b>IDX</b> files, meant to be used for IDX ECAD-MCAD collaboration. It is designed to act as a central system for easier management, tracking and understanding of ECAD-MCAD collaboration progress of a project.</p>
                            <!-- Sep -->
                            <hr class="my-5">
                            <!-- alert -->
                            <div class="alert alert-primary d-flex justify-content-start align-items-center" role="alert">
                                <span class="fa fa-info mr-4"></span>
                                <p class="m-0"> This product is currently in <strong>Beta</strong> state, which means it is not fully tested nor will it work with all collaboration software. For precaution it is advisable to store and backup your data, before usage and each revision iteration.</p>
                            </div>
                            <!-- heading -->
                            <h3 id="software" class="font-weight-bold mb-2">
                                Software
                            </h3>
                            <p> RevidX system consists of: </p>
                            <ol>
                                <li><strong>RevidX Server</strong> - 'Always available' server side application that holds collaboration data for Desktop and Web application and manages requests.</li>
                                <li><strong>RevidX Web</strong> - Web based application available from any browser, focuses on representation and management of collaboration data.</li>
                                <li><strong>RevidX Desktop</strong> - Desktop based application available for download, acts as a silent exchange folder monitor that will keep user notified of any changes locally or on remote server.</li>
                            </ol>
                            <h3 id="features" class="font-weight-bold mb-2">
                                Features
                            </h3>
                            <ol>
                                <li>Replaces file based exchange with controlled and controllable data exchange between engineers</li>
                                <li>Makes project progress more understandable for engineers</li>
                                <li>Enables easier communication between engineers</li>
                                <li>Implement scollaboration rules to prevent collaboration pitfalls</li>
                                <li>Offers multiuser collaboration</li>
                                <li>Offers advanced tools for collaboration (3D representation, collision check, custom file checks)</li>
                                <li>Enables way for collaboration between distant companies or teams</li>
                            </ol>

                            <h3 id="howtostart" class="font-weight-bold mb-2">How to start?</h3>
                            <ol>
                                <li>Deploy RevidX Server locally or <a href="/Identity/Account/Register">subscribe</a> for a cloud version</li>
                                <li><a href="/Identity/Account/Register">Register</a> account</li>
                                <li>Install <a href="/Installations">RevidX Desktop</a> application</li>
                                <li>Set server URL for RevidX Desktop application</li>
                                <li>Login</li>
                                <li>Introduce all participants with <a href="#collaborationprocedure">collaboration procedure</a></li>

                            </ol>

                            <h3 id="collaborationprocedure" class="font-weight-bold mb-2">Collaboration procedure</h3>
                            <ol>
                                <li>Create project via RevidX Web</li>
                                <li>Invite project Members by email in project section of RevidX Web</li>
                                <li>Setup and start desktop application</li>
                                <li>Select previously created project</li>
                                <li>Set local directory for collaboration purposes</li>
                                <li>
                                    <ol>
                                        <li>
                                            Export collaboration file from CAD to selected folder, to be notified
                                        </li>
                                        <li>
                                            Or, wait to be notified for incoming collaboration file from other user
                                        </li>
                                    </ol>
                                </li>

                                <li>
                                    <ol>
                                        <li>
                                            Push exported file to RevidX Server
                                        </li>
                                        <li>
                                            Or, pull incoming file to be imported to your CAD
                                        </li>
                                    </ol>
                                </li>
                            </ol>
                            @*
                                <!-- Sep -->
                                <hr class="my-5">
                                <h3 class="font-weight-bold mb-2">
                                Code example
                                </h3>
                                <p>The Prism source, highlighted with Prism (don’t you just love how meta this is?):</p>
                                <p>The <a href="https://www.w3.org/TR/html5/grouping-content.html#the-pre-element">recommended way to mark up a code block</a> (both for semantics and for Prism) is a <code class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>pre</span><span class="token punctuation">&gt;</span></span></code> element with a <code class=" language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>code</span><span class="token punctuation">&gt;</span></span></code> element inside, like so:</p>
                                <figure class="highlight">
                                <pre><code class="language-html" data-lang="html"><span class="c">&lt;!-- As a link --&gt;</span>
                                <span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"navbar navbar-light bg-light"</span><span class="nt">&gt;</span>
                                <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"navbar-brand"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Navbar<span class="nt">&lt;/a&gt;</span>
                                <span class="nt">&lt;/nav&gt;</span>

                                <span class="c">&lt;!-- As a heading --&gt;</span>
                                <span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"navbar navbar-light bg-light"</span><span class="nt">&gt;</span>
                                <span class="nt">&lt;span</span> <span class="na">class=</span><span class="s">"navbar-brand mb-0 h1"</span><span class="nt">&gt;</span>Navbar<span class="nt">&lt;/span&gt;</span>
                                <span class="nt">&lt;/nav&gt;</span></code></pre>
                                </figure>
                                <hr class="my-5">
                                <figure class="highlight">
                                <pre><code class="language-html" data-lang="html"><span class="nt">&lt;nav</span> <span class="na">class=</span><span class="s">"navbar navbar-expand-lg navbar-light bg-light"</span><span class="nt">&gt;</span>
                                <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
                                <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"navbar-brand"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Navbar<span class="nt">&lt;/a&gt;</span>
                                <span class="nt">&lt;/div&gt;</span>
                                <span class="nt">&lt;/nav&gt;</span></code></pre>*@
                            </figure>
                        </article>
                        <aside class="col-md-3 d-none d-md-block border-left">
                            <div class="widget widget-support-forum p-md-3 p-sm-2">
                                <span class="icon icon-forum"></span>
                                <h4>Looking for help? Contact us</h4>
                                <p>We know documentation might not be complete or adjusted to the level of every potential user, so don't hesitate to contact for support or request more clear documentation on certain topics.</p> <a href="/Contact" class="btn btn-light">Contact us</a>
                            </div>
                            <hr class="my-5">
                            <ul class="aside-nav nav flex-column">
                                <li class="nav-item"> <a data-scroll="#introduction" class="nav-link text-dark" href="#introduction">Introduction</a> </li>
                                <li class="nav-item"> <a data-scroll="#software" class="nav-link text-dark" href="#software">Software</a> </li>
                                <li class="nav-item"> <a data-scroll="#features" class="nav-link text-dark" href="#features">Features</a> </li>
                                <li class="nav-item"> <a data-scroll="#howtostart" class="nav-link text-dark" href="#howtostart">How to start</a> </li>
                                <li class="nav-item"> <a data-scroll="#collaborationprocedure" class="nav-link text-dark" href="#collaborationprocedure">Collaboration procedure</a> </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </main>
            <!-- page-content" -->
        </div>
    </div>
</section>


@{
}
