﻿@page "/Installations"
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<section id="features" class="pt-5 pb-5 pb-0">
    <div class="container containerContent position-relative zindex-1 pt-3 pb-3">
        <h3>RevidX Desktop downloads</h3>
        <h5>Version 0.8.1.1</h5>
                <ul class="list-unstyled">
            <li><a class="text-muted" target="_blank" href="https://stivit.hr/wp-content/uploads/RevidXDesktop_webview_online_install_latest.exe"><i class="fa fa-download" style="color:dimgrey" aria-hidden="true"></i> Download RevidX Desktop</a></li>
            <li><a class="text-muted" target="_blank" href="https://stivit.hr/wp-content/uploads/RevidXDesktop_webview_offline_install_latest.exe"><i class="fa fa-download" style="color:dimgrey" aria-hidden="true"></i> Download RevidX Desktop Large (offline installer for dependancies)</a></li>
        </ul>
    </div>
</section>

@{
}
