﻿@page "/Signup"

<style>
    .backgroundAlternate {
        background-color: ghostwhite;
    }
</style>

<section id="herosection" class="jumbotron jumbotron-fluid" style="color:whitesmoke;background-size: cover;min-height: 50vh; background: url('content/landing_pcb.png') rgba(100, 100, 100, 0.5) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover;  -o-background-size: cover;  background-size: cover;  background-blend-mode: multiply;">
    <div class="bg-overlay position-absolute"></div>
    <div style="margin-top:100px" class="container-fluid text-center mt-5">
        <h1 class="display-3">Start with a new ECAD-MCAD collaboration experience</h1>
        <p class="lead pb-4">Exchange your IDX data, involve more experts, communicate and review development progress on the go.</p>
        <p><a href="/Identity/Account/Register" class="btn btn-primary btn-lg" role="button">Sign me up!</a></p>
    </div>
</section>


<section id="features" class="pt-5 pb-5 pb-0">
    <div class="container containerContent position-relative zindex-1 pt-3 pb-3">
        <h2 class="display-4 text-center  my-5 mb-3">Features</h2>

        <div class="row text-center">
            <div class="col-md-3 mb-3">
                <div class="card h-100">
                    @*<img class="card-img-top" src="development.jpg" alt="Development">*@
                    <div class="card-header">

                        <i class="fa fa-exchange fa-3x card-img-top" style="color:dimgrey" aria-hidden="true"></i>
                        <h4 class="card-title">IDX data exchange</h4>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Eliminate the need for file handling and let RevidX navigate you through collaboration</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card h-100">
                    @*<img class="card-img-top" src="development.jpg" alt="Development">*@
                    <div class="card-header">
                        <i class="fa fa-list-alt fa-3x card-img-top" style="color:dimgrey" aria-hidden="true"></i>
                        <h4 class="card-title">Review</h4>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Review data and detect issues on the go. Watch your product grow.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <i class="fa fa-users fa-3x card-img-top" style="color:dimgrey" aria-hidden="true"></i>
                        <h4 class="card-title">Multiuser collaboration</h4>
                    </div>
                    @*<img class="card-img-top" src="design.jpg" alt="Design">*@

                    <div class="card-body">
                        <p class="card-text">Involve <b>more</b> experts into development of your electronic product. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <i class="fa fa-comments-o fa-3x card-img-top" style="color:dimgrey" aria-hidden="true"></i>
                        <h4 class="card-title">Communication</h4>
                    </div>

                    <div class="card-body">
                        <p class="card-text">Get notified. Communicate. Solve problems. Instantly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .carousel-control-next,
    .carousel-control-prev, .carousel-indicators {
        filter: invert(100%);
    }

    .carousel {
        padding-bottom: 30px;
    }

    .carousel-inner {
        width: 100%;
        height: 500px !important;
    }

    .explainContent > .row {
        margin-top: 220px;
    }
</style>
<section class="pt-5 pb-5 pb-0 homepage-hero-module bg-white">
    <div class="container containerContent explainContent position-relative zindex-1 pt-3 pb-3">
        <h2 class="display-4 text-center mt-5 mb-3">How does it work?</h2>
        <div class="row text-center align-content-center justify-content-between h-50">
            <div class="col-12 col-md-5 pr-md-5 text-left align-self-center ">
                <h1 class="mb-4 font-weight-bold  "><strong>Keep your IDX files in sync</strong></h1>

                <p class="lead"></p>
                <p>RevidX Desktop application will instantly detect and store the new IDX files on RevidX Server and provide you with IDX data available on the server. In real-time.</p>
            </div>
            <div class="col-12  col-md-7 ">
                <div id="carousel1" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel1" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/images/Desktop_push.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/Desktop_pull.png" alt="Second slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row text-center align-content-center justify-content-between   h-50">
            <div class="col-12  col-md-7 ">
                <div id="carousel2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel2" data-slide-to="1"></li>
                        <li data-target="#carousel2" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/images/revisions_list_wo_messages.png" alt="RevidX IDX Collaboration Preview">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/projects_only.png" alt="RevidX IDX Collaboration PCB proposal response">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/preview_with_mcad_pcb_details.png" alt="RevidX IDX Collaboration PCB details">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-5 pr-md-5 text-left align-self-center ">
                <h1 class="mb-4 font-weight-bold  "><strong>Be involved in a collaboration</strong></h1>
                <p>RevidX Web is always available interface that will fill you in on your project progress at any time, any place and on any device.</p>
            </div>
        </div>
        <div class="row text-center align-content-center justify-content-between mt-  h-50">
            <div class="col-12 col-md-5 pr-md-5 text-left align-self-center ">
                <h1 class="mb-4 font-weight-bold  "><strong>More than 2 people involved on a project? No problem!</strong></h1>
                <p class="lead">RevidX can handle collaboration flow between multiple users</p>
                <p>No matter how many users involved, each one will get appropriate data at a right time. Invite even more users to take a peek.</p>
            </div>
            <div class="col-12  col-md-7 ">
                <div id="carousel3" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel3" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel3" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/images/members_view2.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/messages_narrow2.png" alt="Second slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel3" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel3" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid containerContent text-center py-4 my-5 mb-lg-5" id="contact">
    <h2 class="display-4 pb-4 my-4">It's free to start</h2>
    <p class="lead pb-3">Create your free account and check how it works!</p>
    <a href="/Identity/Account/Register" class="btn btn-primary btn-lg mb-4" role="button">Sign up</a>
</section>

<section class="pt-5 pb-5 pb-0 bg-white">
    <div class="container containerContent explainContent text-center position-relative zindex-1 py-4 mt-5 mb-lg-5">
        <h2 class="display-4 pb-4 my-4">Is RevidX a solution for you?</h2>
 @*       <p>
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-bs-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
  </div>
</div>*@
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc484fRIxx7d6U2To1WkP2zjRNWGP56Q65EybFj0SGhcC1Fmg/viewform?embedded=true" style="width:100%;  height:600px;     border-style: none;">Loading…</iframe>
    </div>
</section>


<section class="pt-5 pb-5 pb-0 homepage-hero-module">
    <div class="container containerContent position-relative zindex-1 pt-3 pb-3">
        
    <h2 class="display-4 text-center mt-5 mb-3">Pricing</h2>
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <div class="card h-100">

                    <div class="card-header border-bottom flex-column align-items-start p-3">
                        <i class="fa fa-user fa-3x card-img-top" style="color:dimgrey" aria-hidden="true"></i><h4 class="card-title">Solo</h4>
                        @*<p class="card-text">Create any # of projects. Store and retrieve data. Preview, review and test PCB data with 3d model</p>*@
                    </div>
                    <div class="card-header border-bottom justify-content-center py-4">
                        <h1 class="pricing-price">
                                <small class="align-self-start">$</small>
                                0
                                <small class="align-self-end">/month</small>
                        </h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled font-size-sm mb-0">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Any #</strong><span class="text-secondary ml-1"> of projects</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Use with</strong><span class="text-secondary ml-1"> RevidX Desktop</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Preview</strong><span class="text-secondary ml-1"> revisions</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Review</strong><span class="text-secondary ml-1"> PCB data</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Test</strong><span class="text-secondary ml-1"> 3D model</span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer py-4">
                        <a href="/Identity/Account/Register" class="btn btn-secondary">Start for FREE &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">

                    <div class="card-header border-bottom flex-column align-items-start p-3">
                        <i class="fa fa-user fa-3x " style="color:dimgrey;" aria-hidden="true"></i>
                        <i class="fa fa-user fa-3x " style="color:dimgrey;" aria-hidden="true"></i>
                        <h4 class="card-title">Partner</h4>
                        @*<p class="card-text">Invite any person to any number of projects and collaborate on your project.</p>*@
                    </div>
                    <div class="card-header border-bottom justify-content-center py-4">
                        <h5 class="pricing-price">
                            <strike>
                                <small class="align-self-start">$</small>
                                99
                                <small class="align-self-end">/month</small>
                            </strike>
                        </h5>
                        <h1 class="pricing-price">
                                <small class="align-self-start">$</small>
                                0
                                <small class="align-self-end">/month</small>
                        </h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled font-size-sm mb-0">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <span class="text-primary ml-1"><strong>Invite additional member to your projects</strong></span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Any #</strong><span class="text-secondary ml-1"> of projects</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Use with</strong><span class="text-secondary ml-1"> RevidX Desktop</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Preview</strong><span class="text-secondary ml-1"> revisions</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Review</strong><span class="text-secondary ml-1"> PCB data</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Test</strong><span class="text-secondary ml-1"> 3D model</span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer py-4">
                        <a href="/Identity/Account/Register" class="btn btn-primary">Start for FREE &raquo;</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100">

                    <div class="card-header border-bottom flex-column align-items-start p-3">
                        <i class="fa fa-users fa-3x card-img-top" style="color:dimgrey" aria-hidden="true"></i>
                        <h4 class="card-title">Team</h4>
                    </div>
                    <div class="card-header border-bottom justify-content-center py-4">
                        <h5 class="pricing-price">
                            <strike>
                                <small class="align-self-start">$</small>
                                199
                                <small class="align-self-end">/month</small>
                            </strike>
                        </h5>
                        <h1 class="pricing-price">
                                <small class="align-self-start">$</small>
                                0
                                <small class="align-self-end">/month</small>
                        </h1>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled font-size-sm mb-0">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <span class="text-primary ml-1"> <strong>Invite any # of members to your projects</strong></span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Any #</strong><span class="text-secondary ml-1"> of projects</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Use with</strong><span class="text-secondary ml-1"> RevidX Desktop</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Preview</strong><span class="text-secondary ml-1"> revisions</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Review</strong><span class="text-secondary ml-1"> PCB data</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Test</strong><span class="text-secondary ml-1"> 3D model</span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer py-4">
                        <a href="/Identity/Account/Register" class="btn btn-secondary">Start for FREE &raquo;</a>
                    </div>
                </div>
            </div>

            <div class="col-md-2 mb-4"></div>
            <div class="col-md-8 mb-4">
                <div class="card h-100">

                    <div class="card-header border-bottom flex-column align-items-start p-3">
                        <i class="fa fa-server fa-3x card-img-top" style="color:dimgrey" aria-hidden="true"></i>
                        <h4 class="card-title">On-Premise</h4>
                        <p class="card-text">Deploy RevidX system on your servers and use it according to your own needs</p>
                    </div>
                    <div class="card-header border-bottom justify-content-center py-4">

                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled font-size-sm mb-0">
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <span class="text-primary ml-1"><strong>Host your own RevidX Server</strong></span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Invite any # of members</strong><span class="text-secondary ml-1"> to your projects</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Any #</strong><span class="text-secondary ml-1"> of projects</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Use with</strong><span class="text-secondary ml-1"> RevidX Desktop</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Preview</strong><span class="text-secondary ml-1"> revisions</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Review</strong><span class="text-secondary ml-1"> PCB data</span>
                            </li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-check text-success mr-2">
                                    <polyline points="20 6 9 17 4 12"></polyline>
                                </svg>
                                <strong>Test</strong><span class="text-secondary ml-1"> 3D model</span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer py-4">
                        <a href="/Contact" class="btn btn-secondary">Request evaluation for RevidX Server &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5 pb-0 bg-white" id="contact">
    <div class="container containerContent explainContent text-center position-relative zindex-1 my-5 pt-3 pb-3">
        <h2 class="display-4 pb-4 my-4">Questions</h2>
        <p class="lead pb-3">For any questions regarding RevidX, IDX, suggestions or requests, feel free to contact us!</p>
        <a href="/Contact" class="btn btn-primary btn-lg mb-4" role="button">Contact us</a>
    </div>
</section>



@*<img style="width: 200px; display: block; margin-left: auto; margin-right: auto;" src="/content/logo2.png" />
    <br />
    Welcome! This is a web based client application for RevidX system.

    <MatH3>What is RevidX?</MatH3>

    RevidX is a solution for <b>Rev</b>ision and e<b>X</b>change of <b>IDX</b> files, meant to be used for EDMD collaboration. It is designed to act as a central system for easier management, tracking and understanding of EDMD collaboration progress of a project.


    <MatH3>Features and goals?</MatH3>

    <ol>
    <li>Replaces file based exchange with controlled and controllable data exchange between engineers</li>
    <li>Makes project progress more understandable for engineers</li>
    <li>Enables easier communication between engineers</li>
    <li>Implement scollaboration rules to prevent collaboration pitfalls</li>
    <li>Offers multiuser collaboration</li>
    <li>Offers advanced tools for collaboration (3D representation, collision check, custom file checks)</li>
    <li>Enables way for collaboration between distant companies or teams</li>
    </ol>

    <MatH3>Principle</MatH3>


    RevidX system consists of:
    <MatH4>RevidX server</MatH4>
    'Always available' server side application that holds collaboration data for Desktop and Web application and manages requests.
    <MatH4>RevidX Web application</MatH4>
    Web based application available from any browser, focuses on representation and management of collaboration data.
    <MatH4>RevidX Desktop application</MatH4>
    Desktop based application available for download, acts as a silent exchange folder monitor that will keep user notified of any changes locally or on remote server.



    <MatH3>How to start?</MatH3>
    <ol>
    <li>Deploy locally or subscribe for a cloud version</li>
    <li>Register account</li>
    <li>Install <a href="#">RevidX Desktop</a> application</li>
    <li><a href="#">Setup</a> RevidX Desktop application</li>
    <li>Introduce teammates with <a href="#">collaboration procedure</a></li>

    </ol>

    <MatH3>Collaboration procedure</MatH3>
    <ol>
    <li>Create project</li>
    <li>Add users by email</li>
    <li>Setup and start desktop application</li>
    <li>Select previously created project</li>
    <li>Set local directory for collaboration purposes</li>
    <li>
    <ol>
    <li>
    Export collaboration file from CAD to selected folder, to be notified
    </li>
    <li>
    Or, wait to be notified for incoming collaboration file from other user
    </li>
    </ol>
    </li>

    <li>
    <ol>
    <li>
    Push exported file to RevidX Server
    </li>
    <li>
    Or, pull incoming file to be imported to your CAD
    </li>
    </ol>
    </li>
    </ol>*@
