﻿

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@{
    Layout = "_Layout.cshtml";
}
@section Scripts {
    @RenderSection("Scripts", required: false)
}

@section AddToHead{
    <link href="@Url.Content("~/Identity/css/site.css")" rel="stylesheet" type="text/css" />
}