﻿
        @RenderBody()

@{
    Layout = "_Layout.cshtml";
}
@section AddToHead{   
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/site.css" />
}
@section Scripts {
    @RenderSection("Scripts", required: false)
    
    <script type="text/javascript" src="/js/jquery.ihavecookies.min.js"></script>
    <script>


        var options = {
            title: '&#x1F36A; Accept Cookies & Privacy Policy?',
            message: 'This site uses cookies to improve performance and usability. Click the <strong>accept</strong> button below to comply with usage. See more info ',
            delay: 600,
            expires: 1,
            link: 'PrivacyPolicy',
            onAccept: function () {
                var myPreferences = $.fn.ihavecookies.cookie();
                console.log('The following preferences were saved...');
                console.log(myPreferences);
            },
            uncheckBoxes: true,
            acceptBtnLabel: 'Accept Cookies',
            moreInfoLabel: 'More information',
            cookieTypesTitle: 'Select which cookies you want to accept',
            fixedCookieTypeLabel: 'Essential',
            fixedCookieTypeDesc: 'These are essential for the website to work correctly.'
        }

        $(document).ready(function () {
            $('body').ihavecookies(options);
            if ($.fn.ihavecookies.preference('marketing') === true) {
                console.log('This should run because marketing is accepted.');
            }

            $('#ihavecookiesBtn').on('click', function () {
                $('body').ihavecookies(options, 'reinit');
            });
        });
    </script>
}