﻿@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Primary Meta Tags -->
    <meta name="title" content="RevidX">
    <meta name="description" content="Centralized approach to ECAD-MCAD IDX Collaboration">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://revidx.com/">
    <meta property="og:title" content="RevidX">
    <meta property="og:description" content="Centralized approach to ECAD-MCAD Collaboration. Exchange, review, communicate and collaborate.">
    <meta property="og:image" content="https://revidx.com/content/logo2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="RevidX">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="RevidX">
    <meta property="twitter:description" content="Centralized approach to ECAD-MCAD Collaboration!">
    <meta property="twitter:image" content="https://revidx.com/content/logo2.png">
    <title>RevidX Web</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="/css/gdpr_cookies.css" rel="stylesheet">
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
    else
    {
@*    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/site.css" />*@
    }
    @**@
</head>
<body>

    <div class="jumbotron" style="margin:0px;padding:0px;background-size: cover; width:100%;min-height:100vh;">
        <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow">

            <div class="navbar-brand">
                <a class="logo" href="/">
                    <img style="height:4.2rem" src="/content/logo2.png" />
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @{
                    var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                }
                @if (result.Success)
                {
                    await Html.RenderPartialAsync("_LoginPartial");
                }
                else
                {
                    throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                    "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                    $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                }
            </div>
        </nav>
        @RenderBody()
    </div>
    @*    <header>
        <nav class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
        <div class="container">
        <a class="navbar-brand" href="~/">RevidXServer.Server</a>
        <div class="navbar-brand">
        <a class="logo" href="/">
        <img style="height:4.2rem" src="/content/logo2.png" />
        </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        @{
        var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
        }
        @if (result.Success)
        {
        await Html.RenderPartialAsync("_LoginPartial");
        }
        else
        {
        throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
        "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
        $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
        }
        </div>
        </div>
        </nav>
        </header>

        <div class="container">
        <main role="main" class="pb-3">
        @RenderBody()
        </main>
        </div>*@

        
<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row mr-0">
          <div class="col-12 col-md ml-5">
            <img class="mb-2" src="/images/stivit_web_rgb_2.png" alt="StivIT logo">
            <small class="d-block mb-3 text-muted">All right reserved. StivIT © 2021-2022</small>
          </div>
          <div class="col-6 col-md">
            <h5>Contact</h5>
            <table style="border-style:none">
              <tr><td style="text-align:end;padding-right:5px"><strong>Company</strong></td><td>StivIT</td></tr>
              <tr><td style="text-align:end;padding-right:5px"><strong>Address</strong></td><td> Ul. Dugava 49</td></tr>
              <tr><td style="text-align:end;padding-right:5px"><strong>City</strong></td><td>Samobor 10430</td></tr>
              <tr><td style="text-align:end;padding-right:5px"><strong>Web</strong></td><td><a target="_blank" class="text-muted" href="https://stivit.hr">stivit.hr</a></td></tr>
              <tr><td style="text-align:end;padding-right:5px"><strong>Email</strong></td><td><a class="text-muted" href="mailto:stiv@stivit.hr">Contact</a></td></tr>
            </table>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small"> 
                
              <li><a class="text-muted" target="_blank" href="/HowToUse">How to use</a></li>
              <li><a class="text-muted" target="_blank" href="/Installations">Download RevidX Desktop Installer</a></li>
              <li><a class="text-muted" target="_blank" href="https://www.ecad-mcad.org/">ECAD-MCAD Collaboration</a></li>
              <li><a class="text-muted" target="_blank" href="https://www.ecad-mcad.org/#why-collaborate">IDX benefits</a></li>
              <li><a class="text-muted" target="_blank" href="https://www.ecad-mcad.org/#partners">Supported ECAD MCAD software</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>RevidX</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" target="_blank" href="/Signup">About RevidX</a></li>
              <li><a class="text-muted" target="_blank" href="/Contact">Contact us</a></li>
              <li><a class="text-muted" href="/Identity/Account/Login">Login</a></li>
              <li><a class="text-muted" href="/Identity/Account/Register">Register</a></li>
              <li><a class="text-muted" target="_blank" href="https://stivit.hr">About StivIT</a></li>
            </ul>
          </div>
        </div>
      </footer>
    
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
