﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item">
                    <a class="nav-link" href="authentication/profile">Hello, @context.User.Identity.Name!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" @onclick="BeginSignOut">Log out</a>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item">
                    <a class="nav-link" href="authentication/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="authentication/login">Log in</a>
                </li>
            </NotAuthorized>
        </AuthorizeView>
        <li class="nav-item">
            <a class="nav-link" href="/HowToUse" target="_blank">Docs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Signup" target="_blank">About</a>
        </li>
    </ul>
</div>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
