﻿@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
        </div>*@
    <div class="main ">
        <div class="jumbotron" style="margin:0px;padding:0px;padding-bottom:50px;background-size: cover; width:100%;min-height:100vh;">
            <nav class="navbar navbar-expand-lg navbar-light  navbar-toggleable-sm bg-white border-bottom box-shadow">

                <div class="navbar-brand">
                    <a class="logo" href="/app/">
                        <img style="height:4.2rem" src="/content/logo2.png" />
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <LoginDisplay />
            </nav>
                        @Body
        </div>
    </div>
</div>


    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row mr-0">
            <div class="col-12 col-md ml-5">
                <img class="mb-2" src="/images/stivit_web_rgb_2.png" alt="StivIT logo">
                <small class="d-block mb-3 text-muted">All right reserved. StivIT © 2021-2022</small>
            </div>
            <div class="col-6 col-md">
                <h5>Contact</h5>
                <table style="border-style:none">
                    <tr><td style="text-align:end;padding-right:5px"><strong>Company</strong></td><td>StivIT</td></tr>
                    <tr><td style="text-align:end;padding-right:5px"><strong>Address</strong></td><td> Ul. Dugava 49</td></tr>
                    <tr><td style="text-align:end;padding-right:5px"><strong>City</strong></td><td>Samobor 10430</td></tr>
                    <tr><td style="text-align:end;padding-right:5px"><strong>Web</strong></td><td><a target="_blank" class="text-muted" href="https://stivit.hr">stivit.hr</a></td></tr>
                    <tr><td style="text-align:end;padding-right:5px"><strong>Email</strong></td><td><a class="text-muted" href="mailto:stiv@stivit.hr">Contact</a></td></tr>
                </table>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">

                    <li><a class="text-muted" target="_blank" href="/HowToUse">How to use</a></li>
                    <li><a class="text-muted" target="_blank" href="/Installations">Download RevidX Desktop Installer</a></li>
                    <li><a class="text-muted" target="_blank" href="https://www.ecad-mcad.org/">ECAD-MCAD Collaboration</a></li>
                    <li><a class="text-muted" target="_blank" href="https://www.ecad-mcad.org/#why-collaborate">IDX benefits</a></li>
                    <li><a class="text-muted" target="_blank" href="https://www.ecad-mcad.org/#partners">Supported ECAD MCAD software</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>RevidX</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" target="_blank" href="/Signup">About RevidX</a></li>
                    <li><a class="text-muted" target="_blank" href="/Contact">Contact us</a></li>
                    <li><a class="text-muted" href="/Identity/Account/Login">Login</a></li>
                    <li><a class="text-muted" href="/Identity/Account/Register">Register</a></li>
                    <li><a class="text-muted" target="_blank" href="https://stivit.hr">About StivIT</a></li>
                </ul>
            </div>
        </div>
    </footer>

