﻿<div class="top-row pl-4 navbar navbar-light">
    <a class="navbar-brand" href="">
        <img style="width:150px" src="/content/logo2.png" />
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projects">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
    </ul>
    <div style="bottom: 10px; position: absolute; padding-bottom: 5px">
        <SurveyPrompt Title="How is RevidX working for you?" />
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
