﻿@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider
@using RevidX.ServiceClient
@using RevidX.ServiceClient.Models
@inject NavigationManager NavigationManager


@inject IAccessTokenProvider AccessTokenProvider

        <AuthorizeView Roles="Superadmin">
            <Authorized>
            <MatTable Style="display:inline-table" Context="user" AllowSelection="true" ShowPaging="true" SelectionChanged="(e) => ProjectSelected(e)" Items="@Users" class="mat-elevation-z5">
                <MatTableHeader>
                    <th>Username</th>
                    <th style="width:20%">First name</th>
                    <th style="width:20%">Last name</th>
                </MatTableHeader>

                @*<MatPaginator Length="@Transactions.Count" PageSize="@pageSize" PageIndexChanged="@PageChanged" Page="@OnPage">
                    </MatPaginator>*@
                <MatTableRow>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                </MatTableRow>
            </MatTable>
            
            </Authorized>
        </AuthorizeView>


    @code {
    List<UserProfile> Users { get; set; }
    UserProfile SelectedUser { get; set; }
    ProjectsComponent ProjectsComponent { get; set; }

    private void ProjectSelected(object e)
    {
        var profile = ((UserProfile)e);
        if (profile != null)
        {
            //ProjectsComponent.LoadUserProjects(((UserProfile)e).Id);
            NavigationManager.NavigateTo("/app/user/" + profile.Id);
            this.StateHasChanged();
        }
    }

    public async Task<RevidXApiCaller> GetRevidXApiCallerAsync()
    {
        var accessTokenResult = await AccessTokenProvider.RequestAccessToken();
        accessTokenResult.TryGetToken(out var accessToken);
        var revidXApiCaller = new RevidXApiCaller(accessToken.Value, new Uri(NavigationManager.BaseUri));
        return revidXApiCaller;
    }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        var apiCaller = await GetRevidXApiCallerAsync();
        Users = await apiCaller.GetUsersAdminAsync();
    }


    }
