﻿@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
<RemoteAuthenticatorView Action="@Action" >
        @*authentication/login*@
    <LoggingIn>
    <MatProgressBar Indeterminate="true"></MatProgressBar></LoggingIn> 
    @*authentication/login-callback*@
    <CompletingLoggingIn>
    <MatProgressBar Indeterminate="true"></MatProgressBar></CompletingLoggingIn>
    @*authentication/login-failed*@
    
    @*authentication/logout-callback*@
    <CompletingLogOut>
    <MatProgressBar Indeterminate="true"></MatProgressBar></CompletingLogOut>
    @*authentication/logout-failed*@
   <LogOutSucceeded>@{Navigation.NavigateTo("/", true);}
       <p>You are logged out!</p>
        </LogOutSucceeded>
    
    @*authentication/register*@
    <Registering>
    <MatProgressBar Indeterminate="true"></MatProgressBar></Registering>
</RemoteAuthenticatorView>

@code{
    [Parameter] public string Action { get; set; }
}
