﻿@using Microsoft.AspNetCore.SignalR.Client
@using RevidX.ServiceClient
@using RevidX.ServiceClient.Models
@using RevidXServer.Client.Pages
@using MatBlazor
@using System.Web

<div id="membersView" style="float:left; width:100%">
    
    <style>
        #messageTable {
        }

        #messagesContainer {
            overflow: auto;
            overflow-x: hidden;
            height: auto;
            margin-bottom: 3px;
            padding-bottom: 3px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50px;
            bottom: 50px;
            left:5px;
            right:5px;
        }

        .userCellRight {
            max-width: 40px;
            text-align: end;
            white-space: nowrap;
            direction: rtl;
        }

        .userCellLeft {
            max-width: 40px;
            white-space: nowrap;
        }

        .messageCellLeft {
            overflow-wrap: break-word;
            max-width: 300px;
        }

        .messageCellRight {
            text-align: end;
            overflow-wrap: break-word;
            max-width: 300px;
        }

        .messageTimeSpan {
            font-size: x-small;
            color: grey;
        }

        #timespanRow {
            height: 5px;
        }
    </style>
    <div id="messagesContainer">
        <table id="messageTable">
            @if (Messages != null)
            {

                string lastUser = null;

                @foreach (var message in Messages)
                {
                    bool isSenderCurrentUser = message.Sender != null && message.SenderId == SelectedUserProject.UserProfileId;
                    var user = RevisionsComponent.GetUserFromProfiles(message.SenderId);
                    if (isSenderCurrentUser)
                    {
                        user = "You";
                        if (string.IsNullOrEmpty(lastUser) || lastUser != user)
                        {
                            <tr><td></td><td></td><td></td><td class="userCellRight"> <MatChip Label="@user"></MatChip> </td></tr>
                        }
                    }
                    else
                    {
                        user = RevisionsComponent.GetUserFromProfiles(message.SenderId);
                        if (string.IsNullOrEmpty(lastUser) || lastUser != user)
                        {
                            <tr><td class="userCellLeft"> <MatChip Label="@user"></MatChip></td><td></td><td></td><td></td></tr>
                        }
                    }

                    lastUser = user;
                    if (isSenderCurrentUser)
                    {
                        <tr><td></td><td class="messageCellRight">@message.Text</td><td></td></tr>
                        <tr class="timespanRow"><td></td><td></td><td></td><td class="userCellRight messageTimeSpan"><div style="float: right; position: relative;"><div style="direction:ltr">@DateTimeUtils.DisplayTimeAgo(message.SendTimeUtc.ToLocalTime())</div></div></td></tr>
                    }
                    else
                    {

                        <tr><td></td><td class="messageCellLeft">@message.Text</td><td></td></tr>
                        <tr class="timespanRow"><td class="userCellLeft messageTimeSpan">@DateTimeUtils.DisplayTimeAgo(message.SendTimeUtc.ToLocalTime())</td><td></td><td></td><td></td></tr>

                    }
                }
            }
        </table>
    </div>


</div>
<div style="position: absolute;
                bottom: 0px;">
    <MatTextField Value="@MessageText" OnInput="@(e => MessageText = e.Value.ToString())" Style="width:300px;" OnKeyPress="@KeyDownTxtBox" PlaceHolder="Notification Text"></MatTextField>
    <MatButton Icon="@MatIconNames.Send" Label="Send" OnClick="@(e => Send())"></MatButton>
</div>
@code {
    [Parameter]
    public RevisionsComponent RevisionsComponent { get; set; }
    [Parameter]
    public UserProject SelectedUserProject { get; set; }


    [Inject] public IJSRuntime JsRuntime { get; set; }

    public List<Message> Messages { get; set; }


    public List<UserProfile> userProfiles { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        RevidXApiCaller revidXApiCaller = await RevisionsComponent.GetRevidXApiCallerAsync();
        Messages = await revidXApiCaller.GetProjectMessages(SelectedUserProject.ProjectId);
        this.StateHasChanged();
        await ScrollToBottom();
    }    

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {

        }
        else
        {   

        }
        await ScrollToBottom();
    }


    public async Task ScrollToBottom(int timeSpan = 0)
    {
        await JsRuntime.InvokeAsync<object>(
                "scrollToBottomMessage", timeSpan);
    }


    protected string MessageText;
    private async Task Send()
    {
        if(string.IsNullOrEmpty(MessageText))
        {
            return;
        }
        Message message = new Message();
        message.SenderId = SelectedUserProject.UserProfileId;
        message.ProjectId = SelectedUserProject.ProjectId;
        message.Text = MessageText;
        var hubConnection = await RevisionsComponent.ProjectsComponent.GetHubConnection();
        await hubConnection.SendAsync("SendMessage", message);
        MessageText = string.Empty;
        message.Sender = new UserProfile() { Email = RevisionsComponent.GetUserFromProfiles(SelectedUserProject.UserProfileId) };
        message.SendTimeUtc = DateTime.Now;
        Messages.Add(message);
        await ScrollToBottom(1000);
    }
    private async Task KeyDownTxtBox(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            await Send();
        }

    }
}
