﻿@page "/app/"
@page "/app/user/{SelectedUserId}"
@page "/app/user/{SelectedUserId}/projects/{SelectedProjectId?}/{SelectedRevisionId?}"
@page "/app/projects/{SelectedProjectId?}/{SelectedRevisionId?}"
@using System.ComponentModel.DataAnnotations
@using System.IO
@using System.Linq
@using System.Threading
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IAccessTokenProvider AccessTokenProvider
@inject IMatDialogService MatDialogService
@using Microsoft.Extensions.Logging;
@inject ILogger<PreviewComponent> logger;
@inject IMatToaster Toaster
@using RevidXServer.Client.Pages
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.SignalR.Client
@using RevidXServer.Shared
@using RevidX.ServiceClient.Models
@using RevidX.ServiceClient
@using MatBlazor
@using PCBXRevision;
@attribute [Authorize]




<div class="container-full-bg">
    <div class="container">
        <div class="content">
            <AdminComponent></AdminComponent>

            <style>
                .demo-mat-card {
                    width: 350px;
                    display: inline-block;
                    margin: 10px;
                    height: 400px
                }

                .demo-mat-card-content {
                    padding: 1rem;
                    height: 92px
                }

                .demo-mat-flex-shrinkclean-margin {
                    margin: 0px;
                }

                .project-mat-paper {
                    margin: 10px;
                }
            </style>
            <MatPaper Class="project-mat-paper" Elevation="3">
                @if (IsLoading)
                {
                    <MatProgressBar Indeterminate="true"></MatProgressBar>
                    <label>@LoadingText</label>
                }
                @if (userProjects != null)
                {
                    <MatAccordion>
                        <MatExpansionPanel @bind-Expanded="@panelOpenState">
                            <MatExpansionPanelSummary>
                                @if (@userProjects.Count == 0)
                                {
                                    <MatExpansionPanelHeader>Projects</MatExpansionPanelHeader>
                                }
                                else
                                {
                                    <MatExpansionPanelHeader>Projects (@userProjects.Count)</MatExpansionPanelHeader>

                                }
                                <MatExpansionPanelSubHeader>
                                </MatExpansionPanelSubHeader>
                            </MatExpansionPanelSummary>
                            <MatExpansionPanelDetails>
                                <div style="height:450px; overflow-y:hidden;width:100%; display:flex; overflow-x: auto;">
                                    <MatCard class="demo-mat-card" style="float:left;flex-grow:0;flex-shrink:0" @onclick="@(e => OpenDialog())">
                                        <MatCardContent>
                                            <MatCardMedia Wide="true" ImageUrl="/content/plus_wide.png"></MatCardMedia> <!-- https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg -->
                                        <div class="demo-mat-card-content">
                                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                                    Create new project
                                                </MatHeadline6>
                                                <MatSubtitle2 class="demo-mat-card-clean-margin">

                                                </MatSubtitle2>
                                                @*<MatSubtitle2 class="demo-mat-card-clean-margin">
                                                    by @project.Project.Creator.Name
                                                    </MatSubtitle2>*@
                                            </div>
                                            <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">

                                            </MatBody2>
                                            @*<MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                                Baseline was added
                                                </MatBody2>
                                                <MatBody1 class="demo-mat-card-content demo-mat-card-clean-margin">
                                                Latest comment
                                                </MatBody1>*@
                                        </MatCardContent>
                                    </MatCard>
                                    @foreach (UserProject userProject in userProjects)
                                    {
                                        <NavLink>
                                            <MatCard class="demo-mat-card" style="float:left;flex-grow:0;flex-shrink:0" @onclick="@(e => NavigateToProject(userProject.Id))">
                                                <MatCardContent>
                                                    <MatCardMedia Wide="true" ImageUrl="/content/pcbTemp.png"></MatCardMedia> <!-- https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg -->
                                            <div class="demo-mat-card-content">
                                                        <MatHeadline6 class="demo-mat-card-clean-margin">
                                                            @userProject.Project.Name
                                                            @if (SelectedProjectId == userProject.Id)
                                                            {
                                                                <MatButton Icon="@MatIconNames.Check_circle" Style="float:right"></MatButton>
                                                            }
                                                            else
                                                            {

                                                                <MatButton Icon="@MatIconNames.Radio_button_unchecked" Style="float:right"></MatButton>
                                                            }
                                                        </MatHeadline6>
                                                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                                                            by @userProject.Project.Creator.Name
                                                        </MatSubtitle2>
                                                    </div>

                                                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                                        Baseline was added
                                                    </MatBody2>
                                                </MatCardContent>
                                            </MatCard>
                                        </NavLink>
                                    }
                                </div>
                            </MatExpansionPanelDetails>
                        </MatExpansionPanel>
                    </MatAccordion>
                }
            </MatPaper>

            @if (SelectedProjectId != null)
            {
                <RevisionsComponent @ref="RevisionsComponent" ProjectsComponent="this" SelectedProjectId="@SelectedProjectId" SelectedUserId="@SelectedUserId" SelectedRevisionId="@SelectedRevisionId" />
            }

        </div>
    </div>
</div>
<MatDialog @bind-IsOpen="@isProjectDialogOpen">
    <MatDialogTitle>New project</MatDialogTitle>
    <MatDialogContent>
        <p>Create new project:</p>
        <MatTextField @bind-Value="@newProjectName"></MatTextField>


    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { isProjectDialogOpen = false; })">No Thanks</MatButton>
        <MatButton @onclick="@(e => CreateNewProject())">OK</MatButton>
    </MatDialogActions>
</MatDialog>


@code
{
    [Parameter]
    public string SelectedProjectId { get; set; }
    [Parameter]
    public string SelectedRevisionId { get; set; }
    [Parameter]
    public string SelectedUserId { get; set; }

    RevisionsComponent RevisionsComponent { get; set; }

    bool IsLoading { get; set; }
    string LoadingText { get; set; } = "Loading projects...";

    private bool panelOpenState = true;
    private HubConnection HubConnection;
    bool isProjectDialogOpen = false;
    string newProjectName = "";

    private List<UserProject> userProjects = new List<UserProject>();
    public UserProject selectedProject;

    public async Task<HubConnection> GetHubConnection()
    {
        if (HubConnection == null || HubConnection.State != HubConnectionState.Connected)
        {
            logger.LogInformation("Hub connection is closed. Trying to reconnect.");
            await InitializeHubConnection();
        }
        else
        {
            logger.LogInformation(String.Format("Hub connection state is {0}", HubConnection.State.ToString()));
        }
        return HubConnection;
    }

    private async Task InitializeHubConnection()
    {

        HubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/exchangenotify"), options =>
            {
                options.AccessTokenProvider = async () =>
                {
                    var accessTokenResult = await AccessTokenProvider.RequestAccessToken();
                    accessTokenResult.TryGetToken(out var accessToken);
                    return accessToken.Value;
                };
            }
            )
            .Build();
        HubConnection.On<Message>("ReceiveMessage", (message) =>
        {
            var userProject = userProjects.Where(up => up.ProjectId == message.ProjectId).FirstOrDefault();
            if (userProject == null)
            {
                Show(MatToastType.Warning, "Message received to non existing project", "Warning");
                return;
            }
            if (userProject.Id == SelectedProjectId)
            {
                RevisionsComponent.MessageComponent.Messages.Add(message);
            }
            Func<MatToast, Task> func = toast =>
            {
                if (userProject.Id != SelectedProjectId)
                {
                    NavigateToProject(SelectedProjectId);
                }
                return Task.CompletedTask;
            };
            Show(MatToastType.Primary, message.Text, "New message", func);
            this.StateHasChanged();
        });

        HubConnection.On<Message>("FilePulled", async (message) =>
        {

            var userProject = userProjects.Where(up => up.ProjectId == message.ProjectId).SingleOrDefault();
            if (userProject == null)
            {
                Show(MatToastType.Warning, "Message received to non existing project", "Warning");
                return;
            }
            if (userProject.Id == SelectedProjectId)
            {
                await RevisionsComponent.InitializeRevisions();
                RevisionsComponent.MessageComponent.Messages.Add(message);
            }
            Func<MatToast, Task> func = toast =>
            {
                if (userProject.Id != SelectedProjectId)
                {
                    NavigateToProject(SelectedProjectId);
                }
                return Task.CompletedTask;
            };
            Show(MatToastType.Primary, message.Text, "File pulled", func);
            this.StateHasChanged();
        });
        HubConnection.On<Message>("FileUploadedToProject", async (message) =>
        {
            var userProject = userProjects.Where(up => up.ProjectId == message.ProjectId).SingleOrDefault();
            if (userProject == null)
            {
                Show(MatToastType.Warning, "Message received to non existing project", "Warning");
                return;
            }
            if (userProject.Id == SelectedProjectId)
            {
                RevisionsComponent.MessageComponent.Messages.Add(message);
                await RevisionsComponent.InitializeRevisions();
            }
            Func<MatToast, Task> func = toast =>
            {
                if (userProject.Id != SelectedProjectId)
                {
                    NavigateToProject(SelectedProjectId);
                }
                return Task.CompletedTask;
            };
            Show(MatToastType.Primary, message.Text, "New file uploaded", func);
            this.StateHasChanged();
        });
        HubConnection.On<Message>("CancelledAction", async (message) =>
        {
            var userProject = userProjects.Where(up => up.ProjectId == message.ProjectId).SingleOrDefault();
            if (userProject == null)
            {
                Show(MatToastType.Warning, "Message received to non existing project", "Warning");
                return;
            }
            if (userProject.Id == SelectedProjectId)
            {
                RevisionsComponent.MessageComponent.Messages.Add(message);
                await RevisionsComponent.InitializeRevisions();
            }
            Func<MatToast, Task> func = toast =>
            {
                if (userProject.Id != SelectedProjectId)
                {
                    NavigateToProject(SelectedProjectId);
                }
                return Task.CompletedTask;
            };
            Show(MatToastType.Primary, message.Text, "Action cancelled", func);
            this.StateHasChanged();
        });
        HubConnection.On<Message>("ProjectUpdated", async (message) =>
        {
            RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
            userProjects = await revidXApiCaller.GetUserProjects();
            var userProject = userProjects.Where(up => up.ProjectId == message.ProjectId).SingleOrDefault();
            if (userProject == null)
            {
                Show(MatToastType.Warning, "Message received to non existing project", "Warning");
                return;
            }
            if (userProject.Id == SelectedProjectId)
            {
                RevisionsComponent.MessageComponent.Messages.Add(message);
                await RevisionsComponent.InitializeRevisions();
            }
            Func<MatToast, Task> func = toast =>
            {
                if (userProject.Id != SelectedProjectId)
                {
                    NavigateToProject(SelectedProjectId);
                }
                return Task.CompletedTask;
            };
            Show(MatToastType.Primary, message.Text, "Project updated", func);
            this.StateHasChanged();
        });
        await HubConnection.StartAsync();
        if (HubConnection.State != HubConnectionState.Connected)
        {
            logger.LogError("Could not connect to hub.");
        }

    }

    public void Show(MatToastType type, string message, string title, Func<MatToast, Task> toast = null, string icon = "")
    {
        Toaster.Add(message, type, title, icon, config =>
        {
            config.ShowCloseButton = true;
            config.ShowProgressBar = true;
            config.MaximumOpacity = Convert.ToInt32(100);

            config.ShowTransitionDuration = Convert.ToInt32(500);
            config.VisibleStateDuration = Convert.ToInt32(5000);
            config.HideTransitionDuration = Convert.ToInt32(500);

            config.RequireInteraction = false;

            if (toast != null)
            {
                config.Onclick = toast;
                //toast =>
                //{
                //    Console.WriteLine($"Title: \"{toast.Title}\"; message: \"{toast.Message}\"; Type: {toast.Options.Type}");
                //    return Task.CompletedTask;
                //};
            }
        });
    }

    public void NavigateToProject(string userProjectId, string userId = null)
    {
        if (userId != null)
        {
            NavigationManager.NavigateTo(string.Format("/app/user/{0}/projects/{1}", userId, userProjectId));
        }
        else
        {
            NavigationManager.NavigateTo("/app/projects/" + userProjectId);
        }
    }

    public async Task<RevidXApiCaller> GetRevidXApiCallerAsync()
    {
        var accessTokenResult = await AccessTokenProvider.RequestAccessToken();
        accessTokenResult.TryGetToken(out var accessToken);
        var revidXApiCaller = new RevidXApiCaller(accessToken.Value, new Uri(NavigationManager.BaseUri));
        return revidXApiCaller;
    }


    protected async override Task OnInitializedAsync()
    {

        logger.LogInformation("Initializing hub connection.");
        this.StateHasChanged();

    }

    public async void LoadUserProjects(string userId)
    {
        RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
        userProjects = await revidXApiCaller.GetUserProjectsAdminAsync(userId);
        this.StateHasChanged();
    }

    private void ShowLoading(string loadingText)
    {
        IsLoading = true;
        LoadingText = loadingText;
    }
    private void HideLoading()
    {
        IsLoading = false;
        LoadingText = "";
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        //await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            ShowLoading("Loading user projects...");
            var task = await new System.Threading.Tasks.TaskFactory().StartNew(async () =>
            {
                try
                {
                    if (SelectedUserId != null)
                    {
                        RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
                        userProjects = await revidXApiCaller.GetUserProjectsAdminAsync(SelectedUserId);
                    }
                    else
                    {
                        RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
                        userProjects = await revidXApiCaller.GetUserProjects();
                    }
                    var hubConnection = await GetHubConnection();
                    foreach (var userProject in userProjects)
                    {
                        await hubConnection.SendAsync("JoinGroup", userProject.ProjectId);
                    }
                    panelOpenState = true;
                }
                catch (Exception ex)
                {
                    logger.LogError(ex.Message);
                }
                finally
                {
                    HideLoading();
                    this.StateHasChanged();
                }
            });
        }
    }
    protected async override Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(SelectedProjectId))
        {
            panelOpenState = false;
        }
        if (SelectedUserId != null)
        {
            //RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
            //userProjects = await revidXApiCaller.GetUserProjectsAdminAsync(SelectedUserId);
            panelOpenState = true;
        }
        await base.OnParametersSetAsync();

    }

    protected void OpenDialog()
    {
        isProjectDialogOpen = true;
        newProjectName = "";
        this.StateHasChanged();
    }

    private async Task CreateNewProject()
    {
        Project project = new Project();
        project.Name = newProjectName;
        RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
        project = await revidXApiCaller.CreateProject(project);
        if (project != null)
        {
            //await MatDialogService.AlertAsync("Project " + newProjectName + " added successfully.");
        }
        else
        {
            await MatDialogService.AlertAsync("Project could not be added.");
        }

        isProjectDialogOpen = false;

        userProjects = await revidXApiCaller.GetUserProjects();
        this.StateHasChanged();
    }
}
