﻿@using RevidX.ServiceClient
@using RevidX.ServiceClient.Models

@using Microsoft.Extensions.Logging;
@inject ILogger<RevisionListComponent> logger;

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">

            <MatAccordion>
                <MatExpansionPanel @bind-Expanded="@panelOpenState">
                    <MatExpansionPanelSummary>
                        <MatExpansionPanelHeader>Revisions (@visibleRevisions.Count)</MatExpansionPanelHeader>
                        <MatExpansionPanelSubHeader>
                        </MatExpansionPanelSubHeader>
                    </MatExpansionPanelSummary>
                    <MatExpansionPanelDetails>
                        @if (visibleRevisions.Count == 0)
                        {
                            <MatBody2>There appears to be no revisions yet!</MatBody2>
                        }
                        else
                        {
                            <MatTable Style="display:inline-table" AllowSelection="true" ShowPaging="true" Items="@visibleRevisions" class="mat-elevation-z5">
                                <MatTableHeader>
                                    <th style="width:2px;">#</th>
                                    <th style="width:10%; padding-left:50px">Type</th>
                                    <th style="width: 40%; padding-left: 50px ">Description</th>
                                    <th style="width:10%; padding-left:50px">Action</th>
                                    <th style="width: 300px; padding-left: 50px  ">Date</th>
                                    @*<th style="width:20%">Id</th>
                                        <th style="width:20%">PrevId</th>*@
                                </MatTableHeader>

                                @*<MatPaginator Length="@Transactions.Count" PageSize="@pageSize" PageIndexChanged="@PageChanged" Page="@OnPage">
                                    </MatPaginator>*@
                                <MatTableRow>
                                    @{
                                        menuRefs.TryAdd(context.Id, new BaseMatMenu());
                                        menuForwardRefs.TryAdd(context.Id, new ForwardRef());
                                }
                                <td>@(visibleRevisions.Count - visibleRevisions.IndexOf(context))</td>
                                @if (context.ResponseFileId != null)
                                    {
                                    <td style="width:10%">
                                        <span>Update</span>
                                    </td>
                                    <td>
                                        <MatButton Icon="@MatIconNames.Ondemand_video" @onclick="@(e => RevisionsComponent.PreviewRevision(context, PreviewComponent.WebUserActionsEnum.CanDoNothing))" Label="Preview"></MatButton>
                                        <MatButton Icon="@MatIconNames.Cloud_download" Label="DOWNLOAD" OnClick="@(e => {OnDownloadClick(e, context.Id);})" RefBack="@menuForwardRefs[context.Id]"></MatButton>
                                        <MatMenu @ref="menuRefs[context.Id]" TargetForwardRef="@menuForwardRefs[context.Id]">
                                            <MatList>
                                                <MatListItem>
                                                    <MatButtonLink Href="javascript:void(0);" OnClick="@(e => RevisionsComponent.DownloadFile(context.BaselineFileId))">Baseline</MatButtonLink>
                                                </MatListItem>
                                                <MatListItem>
                                                    <MatButtonLink Href="javascript:void(0);" OnClick="@(e => RevisionsComponent.DownloadFile(context.ProposalFileId))">Proposal</MatButtonLink>
                                                </MatListItem>
                                                <MatListItem>
                                                    <MatButtonLink Href="javascript:void(0);" OnClick="@(e => RevisionsComponent.DownloadFile(context.ResponseFileId))">Response</MatButtonLink>
                                                </MatListItem>
                                            </MatList>
                                        </MatMenu>
                                    </td>
                                    }
                                    else if (context.ProposalFileId != null)
                                    {
                                    <td style="width:10%">
                                        <span>Proposed</span> @*LockedByUser.Name*@
                                    </td>
                                    <td>
                                        @if (context.LockedByUserId == null)
                                            {
                                            @if (context.Id == SelectedUserProject.Project.LatestRevisionId)
                                                {
                                                <MatButton Icon="@MatIconNames.Ondemand_video" Label="Respond to proposal" @onclick="@(e => RevisionsComponent.PreviewRevision(context, PreviewComponent.WebUserActionsEnum.CanRespondToProposal))"></MatButton>
                                                }
                                                else
                                                {
                                                <MatBody2>This revision is not vaild </MatBody2>
                                                <MatButton Icon="@MatIconNames.Ondemand_video" Label="Respond to proposal" @onclick="@(e => RevisionsComponent.PreviewRevision(context, PreviewComponent.WebUserActionsEnum.CanDoNothing))"></MatButton>
                                                }
                                            <MatButton Icon="@MatIconNames.Cloud_download" Label="DOWNLOAD" OnClick="@(e => {OnDownloadClick(e, context.Id);})" RefBack="@menuForwardRefs[context.Id]"></MatButton>
                                            <MatMenu @ref="menuRefs[context.Id]" TargetForwardRef="@menuForwardRefs[context.Id]">
                                                <MatList>
                                                    <MatListItem>
                                                        <MatButtonLink Href="javascript:void(0);" OnClick="@(async e => await RevisionsComponent.DownloadFile(context.ProposalFileId))">Proposal</MatButtonLink>
                                                    </MatListItem>
                                                </MatList>
                                            </MatMenu>

                                            }
                                            else if (context.LockedByUserId == SelectedUserProject.UserProfileId)
                                            {
                                            @if (context.Id == SelectedUserProject.Project.LatestRevisionId)
                                                {
                                                <MatButton Icon="@MatIconNames.Ondemand_video" Label="Respond to proposal" @onclick="@(e => RevisionsComponent.PreviewRevision(context, PreviewComponent.WebUserActionsEnum.CanRespondToProposal))"></MatButton>
                                                <MatFileUpload OnChange="@(e => RevisionsComponent.OnChange(e, PreviewComponent.WebUserActionsEnum.CanUploadResponse))" Label="Drop or select response file"></MatFileUpload>
                                                }
                                                else
                                                {
                                                <p>This revision is not vaild </p>
                                                //<MatButton @onclick="@(e => PreviewComponent.PreviewRevision(SelectedRevision, PreviewComponent.WebUserActionsEnum.CanDoNothing))">Respond to proposal</MatButton>
                                            }

                                            <MatButton Icon="@MatIconNames.Cloud_download" Label="DOWNLOAD" OnClick="@(e => {OnDownloadClick(e, context.Id);})" RefBack="@menuForwardRefs[context.Id]"></MatButton>
                                            <MatMenu @ref="menuRefs[context.Id]" TargetForwardRef="@menuForwardRefs[context.Id]">
                                                <MatList>
                                                    <MatListItem>
                                                        <MatButtonLink Href="javascript:void(0);" OnClick="@(async e => await RevisionsComponent.DownloadFile(context.ProposalFileId))">Proposal</MatButtonLink>
                                                    </MatListItem>
                                                </MatList>
                                            </MatMenu>

                                            }
                                            else
                                            {
                                            <MatBody2>Proposal is already pulled by @RevisionsComponent.GetUserFromProfiles(context.LockedByUserId)</MatBody2>
                                            <MatButton Icon="@MatIconNames.Ondemand_video" Label="Differences" @onclick="@(e => RevisionsComponent.PreviewRevision(context, PreviewComponent.WebUserActionsEnum.CanDoNothing))"></MatButton>
                                            <MatButton Icon="@MatIconNames.Cloud_download" Label="DOWNLOAD" OnClick="@(e => {OnDownloadClick(e, context.Id);})" RefBack="@menuForwardRefs[context.Id]"></MatButton>
                                            <MatMenu @ref="menuRefs[context.Id]" TargetForwardRef="@menuForwardRefs[context.Id]">
                                                <MatList>
                                                    <MatListItem>
                                                        <MatButtonLink Href="javascript:void(0);" OnClick="@(async e => await RevisionsComponent.DownloadFile(context.BaselineFileId))">Baseline</MatButtonLink>
                                                    </MatListItem>
                                                </MatList>
                                            </MatMenu>
                                            }
                                    </td>
                                    }
                                    else if (context.BaselineFileId != null)
                                    {
                                    <td style="width:10%">
                                        <span>Baseline</span>
                                    </td>
                                    <td>
                                        <MatButton Icon="@MatIconNames.Ondemand_video" Label="Preview" @onclick="@(e => RevisionsComponent.PreviewRevision(context, PreviewComponent.WebUserActionsEnum.CanDoNothing))"></MatButton>

                                        <MatButton Icon="@MatIconNames.Cloud_download" Label="DOWNLOAD" OnClick="@(e => {OnDownloadClick(e, context.Id);})" RefBack="@menuForwardRefs[context.Id]"></MatButton>
                                        <MatMenu @ref="menuRefs[context.Id]" TargetForwardRef="@menuForwardRefs[context.Id]">
                                            <MatList>
                                                <MatListItem>
                                                    <MatButtonLink Href="javascript:void(0);" OnClick="@(async e => await RevisionsComponent.DownloadFile(context.BaselineFileId))">Baseline</MatButtonLink>
                                                </MatListItem>
                                            </MatList>
                                        </MatMenu>
                                    </td>
                                    }
                                <td style="width:40%">@context.Description</td>
                                <td style="width:40%">@DateTimeUtils.DisplayTimeAgo(context.CreationTime.ToLocalTime())</td>
                                @*<td style="width:20%">@context.Id</td>
                                    <td style="width:20%">@context.PreviousRevisionId</td>*@
                            </MatTableRow>
                        </MatTable>
                        }
                    </MatExpansionPanelDetails>
                </MatExpansionPanel>
            </MatAccordion>
        </div>
    </div>
</div>
@code {


    [Parameter]
    public UserProject SelectedUserProject { get; set; }
    [Parameter]
    public RevisionsComponent RevisionsComponent { get; set; }


    private List<Revision> visibleRevisions = new List<Revision>();
    bool panelOpenState { get; set; } = true;


    public void OnDownloadClick(MouseEventArgs e, string id)
    {
        this.menuRefs[id].OpenAsync();
    }
    Dictionary<string, BaseMatMenu> menuRefs = new Dictionary<string, BaseMatMenu>();
    Dictionary<string, ForwardRef> menuForwardRefs = new Dictionary<string, ForwardRef>();


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
        }
    }
    protected async override Task OnParametersSetAsync()
    {
        await LoadRevisions(SelectedUserProject);

    }


    public async Task LoadRevisions(UserProject project)
    {
        var tempTime = DateTime.Now;
        logger.LogInformation("Previewing browser file ");
        logger.LogInformation("Starting 'task' at " + DateTime.Now.ToString());
        RevidXApiCaller revidXApiCaller = await RevisionsComponent.GetRevidXApiCallerAsync();
        List<Revision> revisions = null;
        if (revidXApiCaller != null)
        {
            await revidXApiCaller.GetUserProject(project.ProjectId);
            var lastReadingTime2 = DateTime.Now - tempTime;
            logger.LogInformation("Finished fake call in  " + lastReadingTime2.ToString());
            revisions = await revidXApiCaller.GetRevisions(project.ProjectId);
        }
        else
        {
            throw new Exception("RevidX Client not initialized.");
        }
        var lastReadingTime = DateTime.Now - tempTime;
        logger.LogInformation("Finished call in  " + lastReadingTime.ToString());
        if (revisions == null)
        {
            logger.LogWarning("Revisions could not be retrieved.");

            return;
        }
        logger.LogInformation("Found revisions " + revisions.Count());
        visibleRevisions = revisions.ToList();

        lastReadingTime = DateTime.Now - tempTime;
        logger.LogInformation("Finished converting to list in  " + lastReadingTime.ToString());
        if (RevisionsComponent.SelectedRevisionId != null)
        {
            var revision = revisions.Where(r => r.Id == RevisionsComponent.SelectedRevisionId).FirstOrDefault();
            if (revision != null)
            {
                await RevisionsComponent.PreviewRevision(revision, PreviewComponent.WebUserActionsEnum.CanDoNothing);
            }
        }
        this.StateHasChanged();
    }
}