﻿@using System.ComponentModel.DataAnnotations
@using System.IO
@using System.Linq
@using System.Threading
@using System.Web
@using Microsoft.Extensions.Logging;
@inject ILogger<RevisionsComponent> logger;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IAccessTokenProvider AccessTokenProvider
@inject IMatDialogService MatDialogService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMatToaster Toaster
@implements IDisposable
@using PCBXRevision;
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.SignalR.Client
@using RevidXServer.Shared
@using RevidX.ServiceClient.Models
@using RevidX.ServiceClient
@using MatBlazor
@attribute [Authorize]





<style>
    .project-mat-paper {
        margin: 10px;
    }
</style>

<MatPaper Id="revisionsView" Class="project-mat-paper" Elevation="3">

    @if (IsLoading)
    {
        <MatProgressBar Indeterminate="true"></MatProgressBar>
        <label>@LoadingText</label>
        @*<img width="100" src="/content/mech_gears_transparent.gif" />*@
    }
    @if (SelectedUserProject != null)
    {

        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">

                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatDrawerContainer Style="" DrawerWidth="400px" dir="rtl">
                        <MatDrawer Style="padding:5px;" @bind-Opened="@Opened" Mode="@MatDrawerMode.Dismissible" dir="ltr">

                            <MatH5 Style="float:left">Messages</MatH5>
                            <div style="float:right">
                                <MatIconButton OnClick="@((e) => ButtonClicked())">
                                    <MatIcon>@MatIconNames.Close</MatIcon>
                                </MatIconButton>
                            </div>
                            <MessageComponent @ref="MessageComponent" RevisionsComponent="this" SelectedUserProject="SelectedUserProject"></MessageComponent>
                        </MatDrawer>

                        <MatDrawerContent dir="ltr">
                            <div class="mat-layout-grid">
                                <div class="mat-layout-grid-inner">
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">

                                        <div style="float:right">
                                            <MatButton Icon="@MatIconNames.Message" OnClick="@((e) => ButtonClicked())" Label="Messages"></MatButton>
                                        </div>
                                        <MatButton style="float:right" OnClick="@(e => OpenDialog())" Label="Members" Icon="@MatIconNames.People"></MatButton>
                                        <MatH4 Style="float:left">@SelectedUserProject.Name</MatH4><br/><br/>
                                        <MatH6  Style="float:left">by @GetUserFromProfiles(@SelectedUserProject.Project.CreatorId)</MatH6>
                                    </div>
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                        @if (SelectedUserProject.Project.LatestRevision != null)
                                        {
                                            var latestRevision = SelectedUserProject.Project.LatestRevision;
                                                    
                                            if (latestRevision.ResponseFileId != null)
                                            {
                                                <MatBody1><b>Status:</b> Revision update completed.  Further updates or baseline can be pushed.</MatBody1>
                                                <MatFileUpload OnChange="@(e => OnChange(e, PreviewComponent.WebUserActionsEnum.CanUploadProposal))" Label="Drop or select baseline/proposal to push"></MatFileUpload>
                                                <br />
                                                <MatButton Icon="@MatIconNames.Cloud_download" Label="Download" OnClick="@OnDownloadClick" RefBack="@buttonForwardRef"></MatButton>
                                                <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef">
                                                    <MatList>
                                                        <MatListItem>
                                                            <MatButtonLink Href="javascript:void(0);" OnClick="@(e => DownloadFile(latestRevision.BaselineFileId))">Baseline</MatButtonLink>
                                                        </MatListItem>
                                                        <MatListItem>
                                                            <MatButtonLink Href="javascript:void(0);" OnClick="@(e => DownloadFile(latestRevision.ProposalFileId))">Proposal</MatButtonLink>
                                                        </MatListItem>
                                                        <MatListItem>
                                                            <MatButtonLink Href="javascript:void(0);" OnClick="@(e => DownloadFile(latestRevision.ResponseFileId))">Response</MatButtonLink>
                                                        </MatListItem>
                                                    </MatList>
                                                </MatMenu>
                                            }
                                            else if (latestRevision.ProposalFileId != null)
                                            {
                                                if (latestRevision.LockedByUserId == null)
                                                {
                                                    <MatBody1><b>Status:</b> You can respond to latest proposal from @GetUserFromProfiles(latestRevision.AwaitedByUserId)</MatBody1>
                                                    <MatButton @onclick="@(e => PreviewComponent.PreviewRevision(latestRevision, PreviewComponent.WebUserActionsEnum.CanRespondToProposal))">Respond now</MatButton>
                                                    if (latestRevision.AwaitedByUserId == SelectedUserProject.UserProfileId)
                                                    {
                                                        <MatButton @onclick="@(e => CancelProposal())">Cancel</MatButton>
                                                    }
                                                    <br />
                                                    <MatFileUpload OnChange="@(e => OnChange(e, PreviewComponent.WebUserActionsEnum.CanUploadResponse))" Label="Drop or select response file"></MatFileUpload>
                                                    <br />
                                                    <MatButton Icon="@MatIconNames.Cloud_download" Label="Download" OnClick="@OnDownloadClick" RefBack="@buttonForwardRef"></MatButton>
                                                    <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef">
                                                        <MatList>
                                                            <MatListItem>
                                                                <MatButtonLink Href="javascript:void(0);" OnClick="@(e => DownloadFile(latestRevision.ProposalFileId))">Proposal</MatButtonLink>
                                                            </MatListItem>
                                                        </MatList>
                                                    </MatMenu>

                                                }
                                                else if (latestRevision.LockedByUserId == SelectedUserProject.UserProfileId)
                                                {
                                                    <MatBody1><b>Status:</b> You can respond to latest proposal from @GetUserFromProfiles(latestRevision.AwaitedByUserId)</MatBody1>

                                                    <MatFileUpload OnChange="@(e => OnChange(e, PreviewComponent.WebUserActionsEnum.CanUploadResponse))" Label="Drop or select response to push"></MatFileUpload>
                                                    <br />
                                                    <MatButton Icon="@MatIconNames.Cloud_download" Label="DOWNLOAD" OnClick="@OnDownloadClick" RefBack="@buttonForwardRef"></MatButton>
                                                    <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef">
                                                        <MatList>
                                                            <MatListItem>
                                                                <MatButtonLink Href="javascript:void(0);" OnClick="@(e => DownloadFile(latestRevision.ProposalFileId))">Proposal</MatButtonLink>
                                                            </MatListItem>
                                                        </MatList>
                                                    </MatMenu>
                                                }
                                                else
                                                {
                                                    <MatBody1><b>Status:</b> Waiting for @GetUserFromProfiles(latestRevision.LockedByUserId) to respond to proposal</MatBody1>
                                                    <br />
                                                    <MatButton Icon="@MatIconNames.Cloud_download" Label="DOWNLOAD" OnClick="@OnDownloadClick" RefBack="@buttonForwardRef"></MatButton>
                                                    <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef">
                                                        <MatList>
                                                            <MatListItem>
                                                                <MatButtonLink Href="javascript:void(0);" OnClick="@(e => DownloadFile(latestRevision.BaselineFileId))">Baseline</MatButtonLink>
                                                            </MatListItem>
                                                        </MatList>
                                                    </MatMenu>
                                                }
                                            }
                                            else
                                            {
                                                <MatBody1><b>Status:</b> Revision baseline created. Further updates or baseline can be pushed.</MatBody1>
                                                <MatFileUpload OnChange="@(e => OnChange(e, PreviewComponent.WebUserActionsEnum.CanUploadProposal))" Label="Drop or select baseline/proposal to push"></MatFileUpload>
                                                <br />

                                                <MatButton Icon="@MatIconNames.Cloud_download" Label="DOWNLOAD" OnClick="@OnDownloadClick" RefBack="@buttonForwardRef"></MatButton>
                                                <MatMenu @ref="Menu" TargetForwardRef="@buttonForwardRef">
                                                    <MatList>
                                                        <MatListItem>
                                                            <MatButtonLink Href="javascript:void(0);" OnClick="@(e => DownloadFile(latestRevision.BaselineFileId))">Baseline</MatButtonLink>
                                                        </MatListItem>
                                                    </MatList>
                                                </MatMenu>
                                            }
                                        }
                                        else
                                        {
                                            
                                            <MatBody1><b>Status:</b> No revisions made yet. You can push initial baseline.</MatBody1>
                                            <MatFileUpload OnChange="@(e => OnChange(e, PreviewComponent.WebUserActionsEnum.CanUploadBaseline))" Label="Drop or select baseline to push"></MatFileUpload>
                                        }

                                        <MatButton Style="float:right" Icon="@MatIconNames.Delete" OnClick="@(e => DeleteProject(SelectedUserProject))" Label="Delete project"></MatButton>
                                    </div>
                                </div>

                            </div>
                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                <MatDivider></MatDivider>
                            </div>

                            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                                <RevisionListComponent @ref="RevisionListComponent" RevisionsComponent="this" SelectedUserProject="SelectedUserProject" />
                            </div>
                        </MatDrawerContent>
                    </MatDrawerContainer>

                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatDivider></MatDivider>
                </div>

                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <RevidXServer.Client.Pages.PreviewComponent @ref="PreviewComponent" RevisionsComponent="this" SelectedUserProject="SelectedUserProject" />
                </div>
            </div>
        </div>

    }
    <MatDialog @bind-IsOpen="@dialogIsOpen">
        <MatDialogTitle>Members</MatDialogTitle>
        <MatDialogContent>
            @if (userProfiles != null)
            {
                <div style="overflow:auto; height:300px">
                    <MatList SingleSelection="true">

                        @foreach (var user in userProfiles)
                        {
                            <MatListItem>
                                <MatListItemText>
                                    <span>

                                        @if (SelectedUserProject?.Project?.CreatorId == user.Id)
                                        {
                                            <span>@user.Name</span>

                                            <span> (Creator)</span>
                                        }
                                        else
                                        {
                                            @user.Name
                                        }
                                    </span>
                                </MatListItemText>
                            </MatListItem>
                        }
                    </MatList>
                </div>
            }

            <MatTextField Value="@usernameToAdd" OnInput="@(e => usernameToAdd = e.Value.ToString())" OnKeyDown="@KeyDownTxtBox" PlaceHolder="User email"></MatTextField>

        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@(e => { dialogIsOpen = false; })" Label="Close"></MatButton>
            <MatButton Icon="@MatIconNames.Person_add" Label="Add" OnClick="@(e => AddUserToThisProject())"></MatButton>
        </MatDialogActions>
    </MatDialog>

</MatPaper>
@code
{

    [Parameter]
    public string SelectedProjectId { get; set; }

    [Parameter]
    public string SelectedRevisionId { get; set; }

    [Parameter]
    public string SelectedUserId { get; set; }
    [Parameter]
    public ProjectsComponent ProjectsComponent { get; set; }


    bool IsLoading { get; set; }
    string LoadingText { get; set; } = "Loading revision data...";
    public UserProject SelectedUserProject { get; set; }
    ClaimsPrincipal CurrentUser { get; set; }

    public Revision RevisionToPreview { get; set; }
    public PreviewComponent PreviewComponent;
    public RevisionListComponent RevisionListComponent;
    public MessageComponent MessageComponent;

    private List<Revision> Revisions = new List<Revision>();
    private List<UserProfile> userProfiles = new List<UserProfile>();


    [Inject] public IJSRuntime JsRuntime { get; set; }

    public void Dispose()
    {
    }

    PCBContainer PCBContainer { get; set; }



    bool Opened = false;

    void ButtonClicked()
    {
        Opened = !Opened;
    }


    ForwardRef buttonForwardRef = new ForwardRef();
    BaseMatMenu Menu { get; set; }
    public void OnDownloadClick(MouseEventArgs e)
    {
        this.Menu.OpenAsync();
    }

    public async Task<RevidXApiCaller> GetRevidXApiCallerAsync()
    {
        var accessTokenResult = await AccessTokenProvider.RequestAccessToken();
        accessTokenResult.TryGetToken(out var accessToken);
        var revidXApiCaller = new RevidXApiCaller(accessToken.Value, new Uri(NavigationManager.BaseUri));
        return revidXApiCaller;
    }

    private void ShowLoading(string loadingText)
    {
        LoadingText = loadingText;
        IsLoading = true;
    }
    private void HideLoading()
    {
        IsLoading = false;
        LoadingText = "";
    }

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        CurrentUser = authState.User;
        this.StateHasChanged();

    }




    public async Task PreviewRevision(Revision revision, PreviewComponent.WebUserActionsEnum webUserActions)
    {
        await PreviewComponent.PreviewRevision(revision, webUserActions);

    }


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {

        }
        else
        {

        }
    }

    public async Task InitializeRevisions()
    {
        if (SelectedUserProject == null || SelectedUserProject.ProjectId != SelectedProjectId)
        {
            ShowLoading("Loading revision data...");
            var task = await new System.Threading.Tasks.TaskFactory().StartNew(async () =>
            {
                try
                {
                    RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
                    SelectedUserProject = await revidXApiCaller.GetUserProject(SelectedProjectId);
                    if (SelectedUserProject == null)
                    {
                        throw new Exception(string.Format("Could not retrieve Selected user project data {0}", SelectedProjectId));
                    }
                    userProfiles = await revidXApiCaller.GetUserProfilesByProjectId(SelectedUserProject.ProjectId);
                    if (PreviewComponent != null)
                    {
                        await PreviewComponent.Hide();
                    }
                }
                catch (Exception ex)
                {
                    logger.LogError(ex.Message);
                }
                finally
                {
                    HideLoading();
                    this.StateHasChanged();
                }
            });
        }
    }

    protected async override Task OnParametersSetAsync()
    {
        await InitializeRevisions();
    }


    public string GetUserFromProfiles(string userId)
    {
        var name = string.Empty;
        if (userId != null)
        {
            var profile = userProfiles.Where(up => up.Id == userId).FirstOrDefault();
            if (profile != null)
            {
                name = profile.Name;
            }
        }
        return name;
    }

    public async Task CancelProposal()
    {
        IEnumerable<string> answers = new string[] { "Yes", "No" };
        string answer = string.Empty;
        answer = await MatDialogService.AskAsync("Cancelling revision might create inconsitencies in collaboration. Are you sure you want to cancel this revision?. ", answers);
        logger.LogInformation("Answer selected " + answer);
        if (answer == answers.First())
        {
            RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
            var result = await revidXApiCaller.CancelRevision(SelectedUserProject.Id);
            if (!result)
            {
                Show(MatToastType.Danger, "Could not cancel this revision.", "Error.");
                logger.LogError("Could not cancel this revision.");
                return;
            }
            Message message = new Message();
            message.SenderId = SelectedUserProject.UserProfileId;
            message.ProjectId = SelectedUserProject.ProjectId;
            message.SendTimeUtc = DateTime.UtcNow;
            message.Text = "Cancelled latest action via RevidX Web.";
            var hubConnection = await ProjectsComponent.GetHubConnection();
            await hubConnection.SendAsync("CancelledAction", message, true);
            this.StateHasChanged();
        }
    }

    public async Task DownloadFile(string fileId)
    {

        RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
        var transactionFile = await revidXApiCaller.GetTransactionFile(fileId);
        if (transactionFile == null)
        {
            logger.LogError($"Could not get transaction file. {fileId}");
            return;
        }
        using (MemoryStream ms = new(await FileUtils.GetIDXFromContentAsync(transactionFile.BinaryContent)))
        {
            await JsRuntime.InvokeAsync<object>(
                "saveAsFile",
                transactionFile.FileName,
                Convert.ToBase64String(ms.ToArray()));
        }
    }

    private async Task DeleteProject(UserProject project)
    {
        logger.LogInformation("Will delete this project!");
        IEnumerable<string> answers = new string[] { "Yes", "No" };
        string answer = string.Empty;
        if (project.UserProfileId == project?.Project?.CreatorId)
        {
            answer = await MatDialogService.AskAsync("You are a project creator and by clicking Yes, you will delete everything related to this project. "
                    + "Completely delete project \"" + project.Name + "\"?.", answers);
        }
        else
        {
            answer = await MatDialogService.AskAsync("You are a project member and by clicking Yes, you will leave project \""
            + project.Name + "\". Leave this project?.", answers);
        }


        logger.LogInformation("Answer selected " + answer);
        if (answer == answers.First())
        {
            RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
            var result = await revidXApiCaller.DeleteProject(project.ProjectId);
            if (!result)
            {
                Show(MatToastType.Warning, $"Could not remove project {project.Name}.", "Warning");
                return;
            }
            //route to projects
            SelectedUserProject = null;

            Message message = new Message();
            message.SenderId = project.UserProfileId;
            message.ProjectId = project.ProjectId;
            if (project.Project.CreatorId == project.UserProfileId)
            {
                message.Text = $"Deleted project {project.Name}.";
            }
            else
            {
                message.Text = $"Left project {project.Name}.";
            }
            ProjectsComponent.LoadUserProjects(project.UserProfileId);
            this.StateHasChanged();
            //NavigationManager.NavigateTo("/projects");
        }
    }

    private async Task KeyDownTxtBox(KeyboardEventArgs e)
    {
        if (e.Code == "Enter")
        {
            await AddUserToThisProject();
        }
    }
    public async void OnChange(IMatFileUploadEntry[] matFiles, PreviewComponent.WebUserActionsEnum webUserAction)
    {
        try
        {
            var now = DateTime.Now;
            logger.LogInformation("File selected at " + now.ToString());
            logger.LogWarning("File selected ");
            //person.Picture = eventArgs.File;
            if (matFiles.Count() != 1)
            {
                return;
            }
            foreach (var file in matFiles)
            {

                //fileForUpload.File = file.;
                //editContext.NotifyFieldChanged(FieldIdentifier.Create(() => fileForUpload.File));
            }
            logger.LogInformation("Reading stream at " + DateTime.Now.ToString());

            if (SelectedUserProject.Project.LatestRevision != null)
            {
                Revision revision = null;
                if(SelectedUserProject.Project.LatestRevision?.PreviousRevision == null)
                { 
                    RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
                    revision = await revidXApiCaller.GetRevisionById(SelectedUserProject.Project.LatestRevisionId);
                    if(revision == null)
                    {
                        throw new Exception($"Could not pull revision id {SelectedUserProject.Project.LatestRevisionId}");
                    }
                }
                else
                {
                    revision = SelectedUserProject.Project.LatestRevision;
                }
                logger.LogInformation(string.Format("Selected file is {0} and old baseline id is {1} ", matFiles.Last().Name, SelectedUserProject.Project.LatestRevision.BaselineFileId));
                await PreviewComponent.PreviewBrowserFile(matFiles.Last(), revision,
                webUserAction);
            }
            else
            {
                logger.LogInformation(string.Format("Selected file is {0} ", matFiles.Last().Name));
                await PreviewComponent.PreviewBrowserFile(matFiles.Last(), null, webUserAction);
            }
        }
        catch (Exception ex)
        {

            Show(MatToastType.Danger, ex.Message, "Error.");
            logger.LogError(ex.Message);
        }
    }


    public string usernameToAdd { get; set; }
    bool dialogIsOpen { get; set; }
    void OpenDialog()
    {
        dialogIsOpen = true;
    }

    public void Show(MatToastType type, string message, string title, string icon = "")
    {
        Toaster.Add(message, type, title, icon, config =>
        {
            config.ShowCloseButton = true;
            config.ShowProgressBar = true;
            config.MaximumOpacity = Convert.ToInt32(100);

            config.ShowTransitionDuration = Convert.ToInt32(500);
            config.VisibleStateDuration = Convert.ToInt32(5000);
            config.HideTransitionDuration = Convert.ToInt32(500);

            config.RequireInteraction = false;

            //if (false)
            //{
            //    config.Onclick = toast =>
            //    {
            //        Console.WriteLine($"Title: \"{toast.Title}\"; message: \"{toast.Message}\"; Type: {toast.Options.Type}");
            //        return Task.CompletedTask;
            //    };
            //}
        });
    }

    private async Task AddUserToThisProject()
    {
        if (!string.IsNullOrEmpty(usernameToAdd))
        {
            RevidXApiCaller revidXApiCaller = await GetRevidXApiCallerAsync();
            var result = await revidXApiCaller.AddUserToThisProject(SelectedUserProject.Project, HttpUtility.UrlEncode(usernameToAdd));
            if (!result)
            {

                IEnumerable<string> answers = new string[] { "Yes", "No" };
                MatDialogService.AlertAsync(String.Format("User with email '{0}' does not exist in database.", usernameToAdd));
                dialogIsOpen = false;
                usernameToAdd = string.Empty;
                this.StateHasChanged();
                return;
            }
            usernameToAdd = string.Empty;
            userProfiles = await revidXApiCaller.GetUserProfilesByProjectId(SelectedUserProject.ProjectId);
            var up = userProfiles.Where(up => up.Email == usernameToAdd).FirstOrDefault();
            if (up != null)
            {
                MatDialogService.AlertAsync(String.Format("Invitation for '{0}' was successfully sent.", up.Email));
            }
            else
            {
                MatDialogService.AlertAsync(String.Format("Invitation for '{0}' was successfully sent.", usernameToAdd));
            }
            dialogIsOpen = false;
            this.StateHasChanged();
        }

    }

}
