﻿@page
@model RevidXServer.Server.Areas.Payment.CheckoutModel


<div class="wrapper">
    <div class="checkout container">

        <header>
            <h1>Hi, <br>Let's test a transaction</h1>
            <p>
                Make a test payment with Braintree using PayPal or a card
            </p>
        </header>

        <form id="payment-form" method="post">
            <section>
                <label for="amount">
                    <span class="input-label">Amount</span>
                    <div class="input-wrapper amount-wrapper">
                        <input asp-for="amount" id="amount" name="amount" type="tel" min="1" placeholder="Amount">
                    </div>
                </label>

                <div class="bt-drop-in-wrapper">
                    <div id="bt-dropin"></div>
                </div>
            </section>
            @*<input  asp-for="nonce" id="nonce" name="payment_method_nonce" type="text" />*@
            
@Html.HiddenFor(m => m.nonce)
            <button class="button" type="submit"><span>Test Transaction</span></button>
        </form>

    </div>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.32.0/js/dropin.min.js"></script>
<script>
    var client_token = "@Model.ClientToken";
    var form = document.querySelector('#payment-form');
    braintree.dropin.create({
        authorization: client_token,
        container: '#bt-dropin',
        paypal: {
            flow: 'vault'
        }
    }, function (createErr, instance) {
        form.addEventListener('submit', function (event) {
            event.preventDefault();
            instance.requestPaymentMethod(function (err, payload) {
                if (err) {
                    console.log('Error', err);
                    return;
                }
                    console.log('Nonce: ', payload.nonce);
                // Add the nonce to the form and submit
                document.querySelector('#nonce').value = payload.nonce;
                form.submit();
            });
        });
    });
</script>
<script src="/js/braintreeCheckout.js"></script>

@{
    Layout = "/Pages/Shared/_LayoutAccount.cshtml";
}
