﻿@page
@model EmailNotConfirmedModel
@{
    ViewData["Title"] = "Email not confirmed";
}

<h1>@ViewData["Title"]</h1>
<p>
    This email is still not confirmed. Please use <a asp-page="./ResendEmailConfirmation">this form</a> to request another confirmation link to your email.
</p>
