﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h4>Create a new account.</h4>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CompanyName"></label>
                <input asp-for="Input.CompanyName" class="form-control" />
                <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            <hr />
        </div>
    </div>

    <h4>What does your collaboration looks like?</h4>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <div style="display: block;">
                    <label asp-for="Input.CollaborationStandardOther"></label>
                </div>
                <div style="display: block;">
                    <input asp-for="Input.isIDXUser" type="checkbox" title="IDX" id="IDX_checkbox" name="IDX" value="IDX" />
                    <label for="IDX_checkbox">IDX</label>
                </div>
                <div style="display: block;">
                    <input asp-for="Input.isIDFUser" type="checkbox" title="IDF" id="IDF_checkbox" name="IDF" value="IDF" />
                    <label for="IDF_checkbox">IDF</label>
                </div>
                <div style="display: block;">
                    <input asp-for="Input.isSTEPUser" type="checkbox" title="STEP" id="STEP_checkbox" name="STEP" value="STEP" />
                    <label for="STEP_checkbox">STEP</label>
                </div>
                <div style="display: block;">
                    <input class="form-control" asp-for="Input.CollaborationStandardOther" type="text" placeholder="Other or more specific" />
                </div>

            </div>
            <div class="form-group">
                <label>CAD software used in collaboration</label>
                <div style="display: block;">
                    <select style="display: inline-block; width:49%" class="form-control" asp-for="Input.MCADSoftware">
                        <option>--MCAD Software--</option>
                        <optgroup label="Dassault Systemes">
                            <option>3DExperience</option>
                            <option>CATIA</option>
                            <option>SOLIDWORKS</option>
                        </optgroup>
                        <optgroup label="PTC">
                            <option>CREO</option>
                            <option>OnShape</option>
                        </optgroup>
                        <optgroup label="Siemens">
                            <option>NX</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option>FreeCAD</option>
                        </optgroup>
                    </select>
                    <select style="display: inline-block; width:49%;" class="form-control" asp-for="Input.ECADSoftware">
                        <option>--ECAD Software--</option>
                        
                        <optgroup label="Altium">
                            <option>Altium Designer</option>
                        </optgroup>
                        <optgroup label="Cadence">
                            <option>Allegro</option>
                            <option>OrCAD</option>
                        </optgroup>
                        <optgroup label="Mentor Graphics">
                            <option>PADS</option>
                            <option>Xpedition</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option>KiCAD</option>
                        </optgroup>
                    </select>
                </div>
                <div style="display: block;">
                    <input class="form-control" asp-for="Input.XCADSoftwareOther" type="text" placeholder="Other or more specific" />
                </div>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <div style="display: block;">
                    <label asp-for="Input.CollaborationRoleOther"></label>
                </div>
                <div style="display: block;">
                    <input asp-for="Input.isECADUser" type="checkbox" id="ECAD_checkbox" title="Electrical engineer" name="ECAD" value="ECAD" />
                    <label for="ECAD_checkbox">Electrical engineer</label>
                </div>
                <div style="display: block;">
                    <input asp-for="Input.isMCADUser" type="checkbox" id="MCAD_checkbox" title="Mechanical engineer" name="MCAD" value="MCAD" />
                    <label for="MCAD_checkbox">Mechanical engineer</label>
                </div>
                <div style="display: block;">
                    <input class="form-control" asp-for="Input.CollaborationRoleOther" type="text" placeholder="Other or more specific" />
                </div>

            </div>
            @* subscribe *@
            @* accept policy *@


        </div>
        @*<div class="col-md-6 col-md-offset-2">
            <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
            <div>
            <p>
            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.
            </p>
            </div>
            }
            else
            {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
            <p>
            @foreach (var provider in Model.ExternalLogins)
            {
            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
            }
            </p>
            </div>
            </form>
            }
            }
            </section>
            </div>*@
    </div>
    <div class="row">
        <div class="col-md-12 col-md-offset-2">

            <hr />
            <div style="display: block;">
                <input asp-for="Input.isSubscribedToNewsAndPromotion" id="subscribeForNewsAndPromotion" type="checkbox" />
                <label for="subscribeForNewsAndPromotion">Keep me informed about updates and news on RevidX products.</label>
            </div>
            <div style="display: block;">
                
                <input asp-for="Input.isAcceptedTheRisks" id="AcceptedTheRisks" type="checkbox"  required />
                <label for="AcceptedTheRisks">I understand this software is not in its final or completed state, and accept risks that can be caused by this software, like loss and modifications of stored data, incorrect data representation, etc.</label>
                
            </div>
            <div style="display: block;">
                <input asp-for="Input.hasAcceptedTermsAndPrivacy" type="checkbox" id="termsandpolicy" title="Accept terms and policy" name="termsandpolicy" value="termsandpolicy" required />
                <label for="termsandpolicy">
                    I have read and accept
                    <a href="/Identity/Account/TermsOfUse" target="_blank">Terms of use</a> and
                    <a href="/Identity/Account/PrivacyPolicy" target="_blank">Privacy policy</a>
                    .
                </label>
            </div>
            <button type="submit" onclick="AcceptTermsAndConditions" class="btn btn-primary">Register</button>
            <hr />
        </div>
    </div>
    <script language="javascript" type="text/javascript">
        function AcceptTermsAndConditions() {

            if (document.getElementById("termsandpolicy").checked) {
                return true;
            }
            else {
                alert("Please accept term and condition");
                return false;
            }
        }
    </script>

</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
